[2014-12-05 07:45] rainer2555 commented on #4
@drmatrix you are right ! Its quicker that way :) :D

[2014-12-05 07:50] Mika3l commented on #4
@drmatrix  nice one ;)))))

[2014-12-05 09:13] BGpercival commented on #4
Can someone to upload setup.app from mount1/application/ folder from clear and not locked iphone4 please ! my email is lamerando@msn.com

[2014-12-05 09:19] takki62 commented on #4
cdef extern from "libimobiledevice/lockdown.h":
    cdef struct lockdownd_client_private:
        pass
    ctypedef lockdownd_client_private *lockdownd_client_t
    cdef struct lockdownd_pair_record:
        char *device_certificate
        char *host_certificate
        char *host_id
        char *root_certificate
    ctypedef lockdownd_pair_record *lockdownd_pair_record_t
    cdef struct lockdow

[2014-12-05 09:37] oncomangus commented on #4
What next....? any knows
![2014-12-05 16_32_13-xampp control panel v3 2 1 compiled_ may 7th 2013](https://cloud.githubusercontent.com/assets/8903402/5313584/b9708d1c-7c9c-11e4-9cb3-efeb54b16430.jpg)

[2014-12-05 10:25] gsmnouri commented on #4
@takki62  use libmobiledevice ? linux

[2014-12-05 10:40] svenzeleven commented on #5
i can't help you right now bro.. i have same problem with you and i can't find way to bypass..
be patient bro..

[2014-12-05 14:22] rawon-tuyul commented on #4
doulci team....

[2014-12-05 17:52] h00d3d commented on #4
bros! is appleicloudunlocker.co.uk legit? my friend is gonna use it but hes not so sure

[2014-12-05 17:59] AuraDhuha commented on #4
@h00d3d : I'm not sure but you can see many people has using his service. Seems like his service is legit to me.

[2014-12-05 18:39] zokafleka commented on #4
كم سنة

[2014-12-05 19:25] h00d3d commented on #4
@AuraDhuha the site's review disappoints me. only 250 visitors and site was re-created a month ago:/
i know removelock.com is legit but its too expensive
duolci.com isnt taking orders i guess and it asks for an old apple id (how weird is that. if i knew i unlocked myself)

@all kindly recommend me some trusted paid icloud unlocking for my friend

[2014-12-05 19:27] Ganja47 commented on #4
@h00d3d check sales section and reviews on forum.gsmhosting.com
thats where the professional unlockers hang about and check their stuff

[2014-12-05 19:35] bdjfreestyle commented on #4
no solution !!

[2014-12-05 19:42] Sebashock commented on #4
@bdjfreestyle @badrsony says this week wait a little more

[2014-12-05 19:42] gsmnouri commented on #4
linux solution who have  nay idea *,

[2014-12-05 19:45] willgabriel commented on #4
this week or, i dont know , next week, let's wait

[2014-12-05 21:07] rawon-tuyul commented on #4
next week

[2014-12-05 21:23] wvirk commented on #4
Inshallah this week. @badrsony

[2014-12-06 03:54] willgabriel commented on #4
@kbulzo aonde vc viu isso?

[2014-12-06 08:46] hulkholic commented on #4
any news?? this place so quiet..

[2014-12-06 10:35] lordlame commented on #4
The race is on to commercialise this as quickly as possible 🙈🙉🙈

[2014-12-06 11:38] ghost commented on #4
@hulkholic Looks like Magd is another video maker. Doucli #2. Dont waste your time here.

[2014-12-06 12:26] florindmtr commented on #4
Anyone good with C# here? Other than magd :)

[2014-12-06 12:53] nad200 commented on #4
@nastratin what you need

[2014-12-06 12:56] florindmtr commented on #4
if you are in dev forum check my post. maybe we can work together

[2014-12-06 13:03] nad200 commented on #4
@nastratin send me the forum url

[2014-12-06 13:06] florindmtr commented on #4
ur email

[2014-12-06 13:08] nad200 commented on #4
haeder.algorabi@gmail.com

[2014-12-06 13:19] rawon-tuyul commented on #4
next week

[2014-12-06 14:18] bukanPHP commented on #4
next weeks...
2018 perhaps

[2014-12-06 15:14] gsmnouri commented on #4
how inject cert &key for downgrade use fidller2 ?

[2014-12-06 15:37] rawon-tuyul commented on #4
@gsmnouri downgrade ios only possible in A4 device,use redsnow n ipsw custom from geekgrade, sory bad english speaking. :)

[2014-12-06 15:39] gsmnouri commented on #4
@fuk-icloud-lock  yes i know but with cert& key old server apple like ios 6 can dawngrade ios with lical server xampp

[2014-12-06 15:58] willgabriel commented on #4
How bro
Em 06/12/2014 11:39, "gsmnouri" notifications@github.com escreveu:

[2014-12-06 16:06] Maaawww commented on #4
@willgabriel that's what he is asking hahaha

but obviously it's possible

[2014-12-06 16:10] rainer2555 commented on #4
youtube/google fiddler 2 for tuto

[2014-12-06 16:21] gsmnouri commented on #4
@willgabriel method 2 : via (apple cert & key and i can downgrade to any ios)
example iphone 3gs  already can downgrade  ios 4.1  .there is apple  signature  key for downgrade to version 4.1 is already open for downgrade

[2014-12-06 17:08] g454ly commented on #4
@fuk-icloud-lock ada berita baru ngga bro

[2014-12-06 21:28] srsen commented on #4
I got the Question: I still have errors when I try to restore (reinstall) my locked Ipad Air with same os 7.1.1. How can I do that? is it possible?

[2014-12-06 21:44] tsm0 commented on #4
@srsen No you cant, 7.1.1 is no longer signd by apple.

[2014-12-06 23:57] bloc36 commented on #4
@all Someone did try this method
https://www.youtube.com/watch?v=jyb3b3lbprA
and did it work?

[2014-12-07 00:00] willgabriel commented on #4
@bloc36 no work, sorry

[2014-12-07 00:34] Imadoh commented on #4
AquaXetine:
New information about doulci 2.0 http://www.itmagazine.com  Apple good luck we are Back ;)

Maybe the end of icloud is either this week from @badrsony or next week from Doulci anyway the end of icloud sound soon .... cross fingers people who want the bypass

[2014-12-07 07:31] rawon-tuyul commented on #4
@g454ly blm ada bro..

[2014-12-07 07:36] rawon-tuyul commented on #4
lockdown is problem for mounting a5 a6 a7 device....

[2014-12-07 12:40] rawon-tuyul commented on #4
where is the promises ?today is  end of week...

[2014-12-07 12:43] rawon-tuyul commented on #4
still no have proof of success bypass ... only words...

[2014-12-07 13:02] badrsony commented on #4
i'm working so hard to maintain my word just for you

[2014-12-07 13:06] rawon-tuyul commented on #4
@badrsony dont make promises bro... dont be like doulci team and gadgetwide...  im done here..thanks....

[2014-12-07 13:14] Mika3l commented on #4
@all do not push @badrsony  it's tough work ...... take your time bro ;)

[2014-12-07 13:16] badrsony commented on #4
@fuk-icloud-lock i'm sure brother give me some time its not a fake promise

[2014-12-07 13:19] wvirk commented on #4
Don't worry. We r with u bro

Sent from my iPhone

[2014-12-07 13:40] john403 commented on #4
@badrsony .... I'm so glad hear it
maybe anybody here too
God Blaess U brada

[2014-12-07 14:11] Sebashock commented on #4
@badrsony nice men ,still no date is met and as he says he likes their promises

[2014-12-07 14:42] dhondooo commented on #4
@all Hope! We can't do anything else.

[2014-12-07 14:50] mapjii commented on #4
@All probably no one wil answer me but still go ahead with it

IS THERE ANY PROOF OF IPHONE 4 BYPASS WITH CARRIER FIX (service)????/

[2014-12-07 14:58] syarwo commented on #4
@badrsony thanks for hard work bro

[2014-12-07 15:01] albanodesign commented on #4
And how do you know he is doing a hard work

On Sunday, December 7, 2014, syarwo notifications@github.com wrote:

[2014-12-07 15:45] Sebashock commented on #4
@badrsony if you need help with the site just let us know

[2014-12-07 15:55] badrsony commented on #4
i need to redirect  static.ips.apple.com to another page with itunes

[2014-12-07 16:13] Sebashock commented on #4
on the same itunes?

[2014-12-07 16:13] Yafi3i commented on #4
@yafi3i يا بدر رد على الايميل مهم جدا

[2014-12-07 16:18] reda95 commented on #4
@badrsony  I have one question : a bypass will be available to everyone or just some early person ?

[2014-12-07 16:23] Faroukd0t commented on #4
@badrsony use autoresponder on fiddler to redirect the link you want

[2014-12-07 18:53] matreyes commented on #4
you can always use /etc/hosts (or c:\system32\drivers\etc\hosts)

[2014-12-07 19:11] Mocartxx commented on #4
hello word

[2014-12-07 19:15] Mocartxx commented on #4
any apple algoritam

[2014-12-07 19:18] Mocartxx opened #6 "sve ok"

[2014-12-07 19:21] #6 closed, assigned to nobody

[2014-12-07 19:24] Sebashock commented on #4
waiting for badrsony

[2014-12-07 20:43] HERO4903 commented on #4
Todos esperamos por badrsony

[2014-12-07 22:34] Sebashock commented on #4
@badrsony any news?

[2014-12-08 00:10] neox09 commented on #4
nothing new

[2014-12-08 00:48] Sebashock commented on #4
@badrsony where are you :)

[2014-12-08 01:27] phuongdlsl commented on #4
At the your time, when is end of week? at the our time, today is new week :-<

[2014-12-08 01:44] wvirk commented on #4
Here it's still the same week. But I m sure he is taking time for a reason

[2014-12-08 04:33] TWoinONe1 commented on #4
No chance..there is no solution at the time..Magd says very soon. badrsony says very soon, everybody says veryy soon..

[2014-12-08 04:59] Sebashock commented on #4
possible that this still working or busy

[2014-12-08 08:10] SoolMed commented on #4
@bardsony check your mail

[2014-12-08 11:07] troop3r-br commented on #4
soon I give up and break my locked iPhone hahaha

[2014-12-08 13:01] rainer2555 commented on #4
I liked @TTMTT  more than @badrsony :D . He at least did fake website ( to piss of us )   :D LOL

[2014-12-08 15:18] TWoinONe1 commented on #4
@troop3r-br better sell it..

[2014-12-08 15:32] syarwo commented on #4
yanggg inndoo bisssa bbantuuu aanne ggan!/ anne nyyoobba POST cert keyy pake fiddler gs.apple.com di itunes udaah berrrhasill unloocked tp dii ipin nya msh ke lock.

[2014-12-08 15:34] widyaz commented on #4
Iya gan, itu cuman unlock itunes doang.
Coba deh send lagu ke ipin.
Pasti bisa masuk....

[2014-12-08 15:43] syarwo commented on #4
oh gtu ya gan. ok gan thanks info nya

[2014-12-08 16:54] Sebashock commented on #4
hello

[2014-12-08 16:56] Sebashock commented on #4
iCL0udin
Finally we got it! We create a new way to bypass iCloud on all iDevices. For free!!

iDevices Statistics

142

and when be released?

[2014-12-08 16:59] rainer2555 commented on #4
Never . Its a joke . LOL

[2014-12-08 17:30] Mocartxx commented on #4
Generate a Private Key http://support.druva.com/entries/21876342--How-to-Generate-and-Install-an-Apple-Push-Notification-Certificate#openssl

[2014-12-08 17:32] Maaawww commented on #4
guys and what about doulci in his web they say that doulci dont work with ios 8 and iPhone6/plus!!!! And they say the process take 20-25 mins LOL

[2014-12-08 17:37] Mocartxx commented on #4
lol nope will not happen

[2014-12-08 18:56] RabbitRevenge commented on #4
@badrsony Are you here?

[2014-12-08 19:04] jiim commented on #4
@Maaawww get real! they are greedy greedy people just like gadgetwide .. as long they can generate interest and $$$ they will keep fooling people around. And, if even they have bypass they not gonna release it as the $$$ is priority for them!

[2014-12-08 20:35] HackiCloud opened #7 "Bypass 5C"
Hello,

I see you have bypass icloud can you help me please ?

[2014-12-08 21:29] HarisDevs commented on #4
Hahahah you really think that guys here have bypass? NO! Just AquaXetine have it dudes.

[2014-12-08 21:31] tsm0 commented on #4
@HarisDevs You gotto be kidding right? Aqua doesnt have shit. Its kinda obvious.

[2014-12-08 21:31] RabbitRevenge commented on #4
LOL @HarisDevs You wanna money from ads now ah? :))) scam

[2014-12-08 21:52] Sebashock commented on #4
@HarisDevs you say @badrsony not have nothing?

[2014-12-08 21:53] geekman28 commented on #4
Doulci Are Fake , Apple Changed The way that idevice activate , don't wait for doulci anymore !!!!!

[2014-12-08 21:55] jiim commented on #4
@HarisDevs please tell me that you are doulci team... I can smell it!

[2014-12-08 22:21] HERO4903 commented on #4
muy sospechoso tanta aficcion por doulci

[2014-12-08 22:42] Maaawww commented on #4
obvioulsy there are no bypass in this threads XD
i been followin this threads since september i think and i haven't try any tipe of bypass by this guys. The only and real are doulci.

[2014-12-08 22:44] Maaawww commented on #4
in this threads we have stupid guys that spam his emails and only say "bypass bro pls djhf@fuckyourself.com". That's the only thing we have :)

[2014-12-08 22:45] tsm0 commented on #4
@Maaawww Sounds like the doulci teams twitter pages as well. But on doulcis twitter you can always read about where to find the tool, when in fact there is no tool to download.

[2014-12-08 22:54] Maaawww commented on #4
doulci are making money with ADS, for sure. I think that's okay if finally release the tool someday.

[2014-12-08 22:57] bloc36 commented on #4
relax people and wait bypass is coming here NO ADS NO shit

2014-12-08 22:55 GMT+00:00 Maaawww notifications@github.com:

[2014-12-08 23:00] florindmtr commented on #4
you forgot the magic word: SOON! :)))

[2014-12-08 23:00] HoudHoud commented on #4
here wher here? and who ?

[2014-12-08 23:07] florindmtr commented on #4
ih8sn0w said on 1st April that he will make the bypass public once it has been patched by Apple, and he kept his word in the past so I think there is still possible to bypass, but the people (like me) that are still here are too lazy/dumb to make a bypass. ppl like doulci, magd, w0rm and fodil are probably making money now, cause they stopped twitting after they showed pictures with their bypass.

[2014-12-08 23:14] kbulzo commented on #4
@nastratin also think no one will share

[2014-12-08 23:15] kbulzo commented on #4
those who already know the secret ^^ will not reveal ne $$*

[2014-12-08 23:27] kbulzo commented on #4
and incredible many crazy people out bypass lol

[2014-12-09 00:13] anonimox100 commented on #4
@HarisDevs Hahahah you really think that guys here have bypass? NO! Just AquaXetine have it dudes.

Siempre supe desde que estoy siguiendo este foro que tú eres tremendo fake, no has aportado en nada y siempre dices algo cuando ya es obvio, solo hace falta ver tú twitter para saber que solo estas haciendo SPAM.

[2014-12-09 01:10] TWoinONe1 commented on #4
I need to get a email from locked iphone 5s. Is there possible to do it ?

[2014-12-09 01:17] Sebashock commented on #4
and where is @badrsony and @TTMTT

[2014-12-09 11:48] Elnazpro commented on #4
Hello people! For iphone 4 worth ios 6.1.2, how to upgrade to ios 6.1.3?

[2014-12-09 14:22] MohammedNawar commented on #4
https://www.youtube.com/watch?v=JFRrcWxuwa8 what kinda sim is this?

[2014-12-09 15:14] Mika3l commented on #4
I think someone used sim and sim slot for data trancver ,so sim and iDevice communicate free and data from pre-programmed sim replace file like data_arc.plist for  example ....... don't know whether this is true ,but that's what i think ....... share your opinion ;)

[2014-12-09 15:43] florindmtr commented on #4
hi guys. am new here. how can I bypass my iphone5?

[2014-12-09 16:12] wvirk commented on #4
get in line @lapiovra

[2014-12-09 16:56] iceman18ice commented on #4
@badrsony  اسف الان شفت رسالتك

تقدار ترسلني على الهوتميل النت عندنا ميت

[2014-12-09 19:12] wvirk commented on #4
Good. 8.1.2 is out. @TTMTT will start making new videos. Release already brothers

[2014-12-09 19:14] HarisDevs commented on #4
Haha come on guys... I aint from doulci and shit. I claim that no person here have bypass so :smile:  believe or not

[2014-12-09 19:15] rawon-tuyul commented on #4
:smile:

[2014-12-09 22:01] Ryahuman commented on #4
@all Iphone 4 with carrier (totally unlock with icloud.com control \õ/) this POSSIBLE bro's, thanks for my TEAM (:
![img_0004](https://cloud.githubusercontent.com/assets/8922276/5366816/072fc286-7fde-11e4-8514-ce082c2d9d03.PNG)

[2014-12-09 22:15] BGpercival commented on #4
@TheLordin can you sent us tutorial how to do it ?
lamerando@msn.com

[2014-12-09 22:37] troop3r-br commented on #4
ok, but what about 4s?

[2014-12-09 23:19] HERO4903 commented on #4
tutorial amigo

[2014-12-09 23:33] MohammedNawar commented on #4
amigo is gone

[2014-12-09 23:49] albastrel commented on #4
@TheLordin can you sent us tutorial how to do it ?
dragutzdraquasta@yahoo.com

[2014-12-10 00:18] juanluis3030 commented on #4
@TheLordin what you share ?

[2014-12-10 00:33] TWoinONe1 commented on #4
@TheLordin next trolliing... Anyone wants to test my iphone.. cuz I would like to sell it sh^t.. 5 month it is so long.. i cant wait.. All lie or if discovere how to bypass than leave forum like @badrsony sometime is online here but.. nothing help. Just " ...in 24h. or next week" omg..

[2014-12-10 00:37] SoolMed commented on #4
any one know a way to issue Class 3 Cert (EV Certs)

[2014-12-10 00:37] SoolMed commented on #4
@badrsony check your mail please

[2014-12-10 00:44] Sebashock commented on #4
@TWoinONe1 maybe @badrsony need to finish or just do not want to share

[2014-12-10 00:51] TWoinONe1 commented on #4
@Sebashock He dont want to share like other people.. No one wants.. So @TTMTT has 98% still testing.. and he helps @badrsony .. now badrsoony will test his program..when he finish..if he ever finish.

[2014-12-10 01:00] Sebashock commented on #4
@TWoinONe1 hopefully want to share it, he said he would share we will have to just wait

[2014-12-10 01:03] TWoinONe1 commented on #4
@Sebashock u know i want to unlock only 1 device.. dont want to make a money. I would like to sell iPhone and i dont know what I should do now. Meybe I sell it today.. and tomorrow will unlock.. omg.. this is so sad..

[2014-12-10 02:04] Sebashock commented on #4
@TWoinONe1 I think most of us who are here want to unlock it for our use not for sale

[2014-12-10 02:08] Ryahuman commented on #4
@TWoinONe1 lol, bro, I do not need to prove anything to you, if you do not believe do not believe, but true, I managed with great effort, not only from me my whole team, unfortunately this information does not belong to me, only to my team, and I can not send them, I'm sorry, and good luck to all...

Regards to all (:

[2014-12-10 02:13] juanluis3030 commented on #4
@TheLordin is that cost him a lot of work I understand them.

[2014-12-10 03:21] Mocartxx commented on #4
@TTMTT any news

[2014-12-10 06:43] chet84 commented on #4
It's a bit of an embarrassment that people are coming on here, claiming a bypass and then not sharing methods. If you have created a bypass, then great - be happy about it. Don't come on here bragging and then not share any information. We are all trying very hard to find something. If you haven't got anything constructive to bring to the conversation, don't post.

[2014-12-10 08:28] chet84 commented on #4
On a side note, has anybody ran the new TaiG Jailbreak Tool with usbpcap to see what it is doing to jailbreak? Rumour is has the makings of an iCloud bypass. I will do it later.

[2014-12-10 08:49] florindmtr commented on #4
@chet84 good point. if only there was a fiddler for usb traffic :)

[2014-12-10 08:49] chet84 commented on #4
@nastratin http://desowin.org/usbpcap/ ;)

[2014-12-10 08:50] florindmtr commented on #4
I know that, thanks. But I am looking in a usb proxy that can manipulate packets, not just read them

[2014-12-10 08:52] chet84 commented on #4
Ah okay - sorry! I understand now. Yeah, it would be useful.

[2014-12-10 09:34] HarisDevs commented on #4
HAHAHHAHAH YOUR THEORIES ARE AWESOME!!
badrsony from beggining had nothing, just wanted fame, how can't you understand for fucks sake. I have decrypted his chat with Magd and nothing dudes.

There's a way, only one way and that is with DeveloperDiskImage mounting, removing account from local database and voila. I don't have Mac OS so I can't try it but it's a way. Good luck!

[2014-12-10 09:46] HoudHoud commented on #4
![haris dev](https://cloud.githubusercontent.com/assets/9301069/5373756/ad88a794-8059-11e4-81e5-d3c0867f29de.png)

[2014-12-10 10:00] HarisDevs commented on #4
@HoudHoud Exactly !!

That's what TaiG is using to jailbreak, but I can't figure out how they found vuln to use it on Windows

[2014-12-10 10:26] ghost commented on #4
@HarisDevs just tried. Xcode see the locked iP5s, but marked its as "unavailable" , so I cant use it for development and mount disk image.
And, you may use TaiG tool only with Find my phone off.

[2014-12-10 12:44] SoolMed commented on #4
@HarisDevs could this help : https://github.com/phonegap/ios-deploy but how do you intend to mod the dmg (the pesky signature file)

[2014-12-10 15:11] rainer2555 commented on #4
@HarisDevs can it be used with hyper-V Manager ???

[2014-12-10 15:12] rainer2555 commented on #4
mac os

[2014-12-10 16:54] MohammedNawar commented on #4
as soon as i discover something i'll share with all people :smiling_imp:

[2014-12-10 17:13] TWoinONe1 commented on #4
@MohammedNawar Like me :yum:

[2014-12-10 17:18] troop3r-br commented on #4
what about @TTMTT and @badrsony ?

[2014-12-10 17:19] willgabriel commented on #4
@troop3r-br very sad :(

[2014-12-10 17:41] wvirk commented on #4
hey @badrsony please release it. don't worry abt the bugs we don't care as long as it works

[2014-12-10 17:43] willgabriel commented on #4
with carrier or not, release :)

[2014-12-10 17:44] wvirk commented on #4
yeah. don't worry abt apple patching it. Once its bypassed. We will jailbreak it and u can send a package from cydia to fix other stuff

[2014-12-10 19:39] SoulnChain commented on #4
lol

[2014-12-10 19:49] geekman28 commented on #4
![img_10122014_135135](https://cloud.githubusercontent.com/assets/9309566/5382984/fbe5c436-80ad-11e4-91a8-d16dba242be9.jpg)

[2014-12-10 20:03] geekman28 commented on #4
IPHONE 4.1  IOS 7.1.1  <?xml version="1.0"?>
<dict>
    <key>ActivationInfoComplete</key>
    <true/>
    <key>ActivationInfoXML</key>
    <data>
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs
    aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3
    dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJz
    aW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk

[2014-12-10 20:18] oncomangus commented on #4
IPHONE 4.1 IOS 8.1 <?xml version="1.0"?>

ActivationInfoComplete

ActivationInfoXML

PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3 dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJz aW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QWN0aXZhdGlvblJhbmRvbW5lc3M8L2tleT4K CTxzdHJpbmc+MkQ1NzQ5QzItMDA1Ni00Q0YzLTk

[2014-12-10 21:11] geekman28 commented on #4
if you change the motherboard of an iphone can bypass an iPhone ?

[2014-12-10 21:16] willgabriel commented on #4
@geekman28 YES

[2014-12-10 21:17] oncomangus commented on #4
how to bypass methode for 4S ios 8.1

[2014-12-10 22:08] hajkac63 commented on #4
@all
ttmtt died apple killed with his icloudin 98%

[2014-12-10 22:29] florindmtr commented on #4
How to identify fakers - they use a lot these words: wait, patience, soon, beta, testing, need server, errors, bug fixing, free for all, very very very very soon, blame apple, (white noise)

[2014-12-10 22:32] oncomangus commented on #4
@nastratin any info for me bro...? or inbox my mail oncomangus13@yahoo.com
i'm stuck here

[2014-12-10 22:34] florindmtr commented on #4
sorry man, I'm still here with the others trying to find a method.

[2014-12-10 22:43] Mocartxx commented on #4
Working on project from Avg. still not progress for iPad 2.1  iOS 8.1  sorry, proxy with injection don't work on bypass no access to root, need apple algorithms, iPhone 4 and 4S you can login to root by using android boot load and flash all,Node.JS its stil on table for bypass, hardware bypass work on some model but no on iPad, I will explore option in time, Good luck to all and by positive

[2014-12-10 23:20] albanodesign commented on #4
@all guys any one can see anything helpfull from this app it can acces
files and info from device

[image: Inline image 1]

[2014-12-10 23:21] albanodesign commented on #4
i get this info from that app from logs

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "
http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>ActivationInfoComplete</key>
<true/>
<key>ActivationInfoXML</key>
<data>
PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs
aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElT

[2014-12-10 23:36] troop3r-br commented on #4
unfortunately there's nothing new @albanodesign

[2014-12-11 05:37] Mocartxx commented on #4
any solution to access to root on iPad login if work its bypass solution and stop spam, no one did login to root I device stop spam with software solution, SPAM STOP PLEASE. IF you login to ROOT on iPad2.1 its bypass all rest its SPAM{ you need to know algorithm, don't kill PPL hope }

[2014-12-11 13:29] ihearcolors commented on #4
@SoolMed there is a htdoc with cert generator ...modify the .bat files and the .cnf files to generate v3

[2014-12-11 13:49] troop3r-br commented on #4
@ihearcolors @SoolMed if u want the htdocs with certs generator, i have it here

[2014-12-11 14:23] oncomangus commented on #4
@troop3r-br i want bro..please send to my mail oncomangus13@yahoo.com
thnks

[2014-12-11 14:24] rainer2555 commented on #4
@troop3r-br send me too man fassaadid@windowslive.com

[2014-12-11 14:25] hulkholic commented on #4
@troop3r-br I want too. send me plz
5x1x2is10@gmail.com

[2014-12-11 16:28] Mika3l commented on #4
tried DeveloperDisk exploit on my 8.1.1 iPhone 4s and now it appears as jailed in iFunBox and i can upload files and to export from device var/mobile/Media .......any suggestions

[2014-12-11 16:38] Mika3l commented on #4
this is kind of ssh but i can not go deep.......think think ;)

[2014-12-11 16:40] Mika3l commented on #4
i can upload only on mobile/Media can not go to mobile for example

[2014-12-11 16:45] Mika3l commented on #4
no its a bug try few times and it says"not supported device" than started iFunbox or iTools and it shows device as jailed and u can upload and extract and install app free

[2014-12-11 16:48] Mika3l commented on #4
working on it ;) http://www62.zippyshare.com/v/8670821/file.html

[2014-12-11 16:50] HERO4903 commented on #4
mika3l have jailbreak ?

[2014-12-11 16:52] Mika3l commented on #4
i tried tiag method not success yet need to go to root ;)

[2014-12-11 17:33] g454ly commented on #4
@troop3r-br share is here

[2014-12-11 17:34] john403 commented on #4
@SoolMed can U share ur htdocs??

[2014-12-11 17:47] wvirk commented on #4
Has anyone tried htdocs with old iTunes on a fresh windows with no registry values from new iTunes. Maybe theres a different activation method in old itunes

[2014-12-11 17:48] wvirk commented on #4
@all

[2014-12-11 18:04] wvirk commented on #4
u can get older iTunes at apphit.com

[2014-12-11 18:39] oncomangus commented on #4
Not support new IOS bro

[2014-12-11 18:40] troop3r-br commented on #4
yeah, @oncomangus is right :/ guys, i sent the htdocs

[2014-12-11 18:41] oncomangus commented on #4
Can u send again bro @troop3r-br oncomangus13@yahooo.com
thnks

[2014-12-11 18:42] troop3r-br commented on #4
@oncomangus yeah, doing it now

[2014-12-11 18:43] oncomangus commented on #4
i have 4s too ios 8.1 .... okeh i try it

[2014-12-11 18:43] HERO4903 commented on #4
troop3r br  puede compartir sus archivos por favor eduardo.araujo.gonzalez@hotmail.com
gracias amigo

[2014-12-11 18:45] oncomangus commented on #4
@troop3r-br u was send bro...?

[2014-12-11 18:46] Ryahuman commented on #4
@SoolMed you got these status on your certificate?

[2014-12-11 18:48] nashwanoz commented on #4
@troop3r-br  can send me ?
nashwanozz@gmail.com

[2014-12-11 18:52] troop3r-br commented on #4
ok, sent, but don't forget the file is an old h t d o c s with a cert generator inside, i don't have anything soooo special haha
this file is in github too, look here g i t h u b . c o m/Ink0gnit0/icloud-bypass-server/tree/master/deviceservices

[2014-12-11 18:53] willgabriel commented on #4
ate q enfim apareceu rs

[2014-12-11 19:01] oncomangus commented on #4
![2014-12-12 02_00_01-itunes](https://cloud.githubusercontent.com/assets/8903402/5399964/bb860a9a-81a2-11e4-95cc-5840317aabfd.jpg)

[2014-12-11 19:07] troop3r-br commented on #4
that's the problem :/
@willgabriel notícias dos deuses supremos? hahaha

[2014-12-11 19:08] willgabriel commented on #4
@troop3r-br no way

[2014-12-11 20:24] hajkac63 commented on #4
Where is that damn TTMTT
that misleading promises
He praises Islam as his behavior is close to the devil
@ TTMTT you are a liar I shit you

[2014-12-11 20:51] wvirk commented on #4
Don't bring religion into this. His country is going thru a lot and I pray he is safe.

Sent from my iPhone

[2014-12-11 21:48] Sebashock commented on #4
@badrsony and @TTMTT missing searching in the milk box

[2014-12-11 21:55] Maaawww commented on #4
did you see the ex_ro0t tool?

[2014-12-11 22:23] florindmtr commented on #4
not working

[2014-12-11 22:35] TWoinONe1 commented on #4
It is for Mac

[2014-12-11 22:44] Ryahuman commented on #4
@SoolMed contact me to gmail ~> lordin.thelords@gmail.com or twitter @TheLordin

[2014-12-11 23:14] HoudHoud commented on #4
where is @badrsony and @TTMTT are They good ? we miss theme here

[2014-12-11 23:47] Faroukd0t commented on #4
it's frustrating all this shit of icloud :smile:  maybe we should buy a new iDevices and sell the locked for parts

[2014-12-11 23:52] rAbd0u commented on #4
@Faroukd0t salam khoya; lajadid ? cheft ga3 lkhoutt khwaw men hna

[2014-12-11 23:54] Faroukd0t commented on #4
@rAbd0u walo mazal ma kayn hta jadid, badr mazal khedam 3la chi stoun mais ma 3endich l'information exacte.

[2014-12-11 23:58] rAbd0u commented on #4
@Faroukd0t vraiment; had chi tawel, bchkal yawmi kandoul had forum, kanjareb douk talmihat dail majd, walou

[2014-12-12 00:07] Faroukd0t commented on #4
@rAbd0u wa tastamirro lmo3anate hhhh salaak w safi, iwa 3la llah tbane chi vraie solution

[2014-12-12 00:30] Faroukd0t commented on #4
@SoolMed walo a khoya ana les certificats 3endi m3ahom 7assasiya 3a9douni hhhh netmenaw Badr yl9a un moyen bach ypartager la solution dialo publiquement.

[2014-12-12 00:39] rAbd0u commented on #4
@Faroukd0t @SoolMed wa yeeeh wa tastamiro lmo3anat, wa yazdado tahadi :)
khoti 3andi  soual: wach fairplaydata unique pour toous les idevices?
sinon wach ghadi njabdouh mn hna fairplaycertchain?
badr 3tana wahd code javascript mais et toujours il ya un amis makhdamlich

[2014-12-12 01:48] Sebashock commented on #4
ex-logic.com

Index of /

 Name                                Last modified         Size  Description

directory albert                              05-Jul-2014 20:56        -
directory deviceservices                      27-Jul-2014 09:07        -

[2014-12-12 02:54] nashwanoz commented on #4
http://ex-logic.com/deviceservices/deviceActivation/certs/
http://ex-logic.com/deviceservices/deviceActivation/requests/iphone/

[2014-12-12 07:49] srsen commented on #4
Does anybody know what this is? : http://www.mediafire.com/download/0ne1dsqcjjm15l1/ExRo0T+.zip

[2014-12-12 08:22] albanodesign commented on #4
Does enybody have certs for my iphone 15 dual screen please
Sent on october 2025 :)

On Friday, December 12, 2014, srsen notifications@github.com wrote:

[2014-12-12 09:50] rainer2555 commented on #4
![captura-de-ecra-2014-12-11-as-23 11 05](https://cloud.githubusercontent.com/assets/8847276/5409594/dd665e60-81f4-11e4-8c32-5a37da1846d3.png)
anyone has tried it ???

[2014-12-12 09:58] Mika3l commented on #4
@rainer2555 doesn't start on Yosemite;)

[2014-12-12 10:09] h00d3d commented on #4
@troop3r-br @Faroukd0t guys i have an idea! as we know and use proxy servers to bypass temperory or developerdisk to bypass ifunbox (without root) but older versions like ios 7 are vulnerable to malicious pdf injection etc.. WHAT if we use them? we can install apps to open them then mount root? i am myself searching for it but i cant do it without you GUYS! we can do it even not using that damned

[2014-12-12 10:59] h00d3d commented on #4
@troop3r-br do u confirm installing apps with ifunbox? cause i couldnt install apps to proxy-bypassed iphone and dont know how to use developerdisk exploit as im not good at hacking
if u can, try to do my explanation
1. bypass with proxy server (lost mode)
2. use developerdisk to install any vulnerable app (hint:1337!)
3. open and modify setup.app

[2014-12-12 11:17] troop3r-br commented on #4
sorry guys, i have no idea about ifunbox :/
bit if somehow you need a proxy server, i can host it

[2014-12-12 11:29] takki62 commented on #4
https://code.google.com/p/chronicdev/wiki/DeveloperDiskImage     with instruction how to use devolper disk image

[2014-12-12 11:30] h00d3d commented on #4
oh i was goin to mention @Mika3l can u do that exploit or explain how to do it public or privately? im goin to try with malicious app on lost mode

[2014-12-12 11:34] h00d3d commented on #4
@takki62 thank u!! its exactly what i was lookin. will try this weekend and  let u know the result

[2014-12-12 11:37] takki62 commented on #4
@h00d3d  welcome

[2014-12-12 11:39] takki62 commented on #4
@h00d3d  http://samdmarshall.com/work.html    also iBoot USB Terminal  helps you. and
http://macsecurity.net/view/53/

[2014-12-12 11:41] takki62 commented on #4
iboot usb terminal is use for R&R

[2014-12-12 11:45] h00d3d commented on #4
oh is ddimage done with mac? ok i will try to find mac (never used before:P)

[2014-12-12 19:03] oncomangus commented on #4
@troop3r-br can u share host proxie for clean mode..? u have...?

[2014-12-12 23:29] troop3r-br commented on #4
@oncomangus i have the proxy files for lost mode bypass... but i think that there are other hosting them. see here m y i c l o u d.info/magic-lines-big-update/
anyway, if any of u develop something and need a server, i can host the files (they will be not always online, but we can set times). sorry for my bad english!

[2014-12-12 23:36] oncomangus commented on #4
@troop3r-br thnks mate...how i know if proxy online....?

[2014-12-12 23:57] troop3r-br commented on #4
@oncomangus you can try to access the ips (with the ports mentioned in each of them), but unfortunately none of the ips listed in m y i c l o u d . i n f o are working now :/
see in 'downloads' section, there's a tuto about how to host your own proxy server ;)

[2014-12-13 16:57] rawon-tuyul commented on #4
BADRSONY THIS WEEK... U NEED MORE WEEK???

[2014-12-13 17:25] florindmtr commented on #4
He also has a war... in his mind :)

[2014-12-13 17:30] bdjfreestyle commented on #4
كله كذب في كذب والله حرام الناس هذي تكذب وعلاه

[2014-12-13 17:34] florindmtr commented on #4
Я надеюсь, что эти Засада обрести душевный покой

[2014-12-13 19:08] rafaelcarioca7 commented on #4
https://www.youtube.com/watch?v=EEpaSJGzIuM

[2014-12-13 19:08] rafaelcarioca7 commented on #4
https://www.youtube.com/watch?v=bKivOhA9pqs

[2014-12-13 19:10] albanodesign commented on #4
Welcome back rafaelcarioca for now the most  complete guide and bypass is
yours

On Saturday, December 13, 2014, rafaelcarioca7 notifications@github.com
wrote:

[2014-12-13 19:25] geekman28 commented on #4
![b4rxqbtcyaassjb](https://cloud.githubusercontent.com/assets/9309566/5425010/358b4774-8306-11e4-9a62-fe0672d7b4c5.jpeg)

[2014-12-13 20:06] HoudHoud commented on #4
you mean icloud is dead ? for ever?

[2014-12-13 20:10] willgabriel commented on #4
doluci is over! of course.

[2014-12-13 21:14] Maaawww commented on #4
@tsm0 That is his official account. I'm from spain and he is always saying that kind of shit. Since november i think.
And then deleted his account. I dont don why. At least he is unlocking iDevice per 100$-150$. I have a proof.

[2014-12-13 21:26] tsm0 commented on #4
@Maaawww I was 100% sure it was some hoax account. But now I see that it actually is his real account.

[2014-12-13 21:50] ghost commented on #4
He has been saying bullshit after the bypass was patched, he must be angry that he haven't been able to find another way to bypass so he don't want no one to find it, at least before him

[2014-12-13 22:50] SoulnChain commented on #4
lol

[2014-12-13 22:51] SoulnChain commented on #4
lol

[2014-12-13 22:51] SoulnChain commented on #4
lol

[2014-12-13 22:53] Assasin0 commented on #4
https://www.youtube.com/watch?v=e-q-s_fxTeE ??????

[2014-12-13 23:10] MohammedNawar commented on #4
it shows apache http server error everytime i connect it to itunes

[2014-12-13 23:11] MohammedNawar commented on #4
3:0 server certificate does NOT include an ID which matches the server name
[Sun Nov 09 00:49:34.265625 2014] [ssl:warn] [pid 3336:tid 1700] AH01909: www.example.com:443:0 server certificate does NOT include an ID which matches the server name
[Sun Nov 09 00:49:34.406250 2014] [mpm_winnt:notice] [pid 3336:tid 1700] AH00354: Child: Starting 150 worker threads.
[Mon Nov 10 22:11:23.046875 2014] [ssl

[2014-12-13 23:57] drmatrix commented on #4
@HoudHoud
kho matkassarch dmaghak makach manha hadi :)

[2014-12-14 00:02] HoudHoud commented on #4
@drmatrix ok bro thanks

[2014-12-14 00:05] MohammedNawar commented on #4
el wahad ebtda yfkd el amal khlas

[2014-12-14 00:08] HoudHoud commented on #4
win @badrsony  et @TTMTT khach wahed ya3rf chi hadja?

[2014-12-14 00:13] Assasin0 commented on #4
@HoudHoud which there is a possibility to do it or a tutorial?

[2014-12-14 00:17] HoudHoud commented on #4
@Assasin0  no sorry bro

[2014-12-14 00:23] Assasin0 commented on #4
@HoudHoud ok bro thanks

[2014-12-14 00:23] oncomangus commented on #4
@friend...i was try methode backup n restore with itunes...but can't backup...if can't backup how to restore phone #huft

[2014-12-14 00:28] HoudHoud commented on #4
@oncomangus  i'have tried it but it doesn't work may be with lower itunes, the guy he made new video 10h ago he add  iphoneactivation.pem http://www.youtube.com/watch?v=0Cg63Va050I&feature=youtu.be

it doesn't work for me too

[2014-12-14 00:53] tsm0 commented on #4
@oncomangus By putting the device in dfu mode

[2014-12-14 00:54] SoolMed commented on #4
@oncomangus http://idevice.eu.pn/htcdocs-bypass/

[2014-12-14 00:58] HoudHoud commented on #4
@SoolMed does this methode work?

[2014-12-14 01:03] HoudHoud commented on #4
@SoolMed i have tested it with iphone 5 ios 8.1 it doesn't sync

[2014-12-14 01:10] oncomangus commented on #4
itunes vrsion...?

[2014-12-14 01:11] HoudHoud commented on #4
me itunes 11.4 may be i have to downgrade

[2014-12-14 02:05] juanluis3030 commented on #4
@all someone can tell me if after making the iphone bypass mode in lost can jailbreak ?

[2014-12-14 06:28] syarwo commented on #4
@all can help me!? i cant download file htdocs and file no3 and 4

[2014-12-14 08:46] syarwo commented on #4
@SoolMed  thanks. i see 4 file from this https://www.youtube.com/watch?v=0Cg63Va050I&feature=youtu.be

[2014-12-14 10:36] h00d3d commented on #4
@all im sorry bros. i couldnt bring mac. i could have used virtual machine but since im not familiar with macos, dealin with xcode is even harder than doing bypass for me. so im also waitin for my friends laptop

[2014-12-14 14:28] ramazoty commented on #4
file 3 (ocx file) : must be in c drive where itunes installed
file4: i dont know where can i put this file
tested but can't backup :/

[2014-12-14 15:03] lblxh3 commented on #4
ipad2 7.1.2 itunes 11.2
 tested but can't backup too

[2014-12-14 15:14] Sebashock commented on #4
always get error 400 itunes ?

how can fix that

[2014-12-14 16:10] troop3r-br commented on #4
when trying to backup: "itunes could not backup the iphone because a session could not be started [...]"

[2014-12-14 17:06] oncomangus commented on #4
have solution @all ...?
shame me too itunes couldn't backup #huft

[2014-12-14 19:59] geekman28 commented on #4
http://dl.free.fr/nExqWEl9h  work only bypass itunes

[2014-12-14 22:29] SoulnChain commented on #4
lol

[2014-12-14 22:32] SoulnChain commented on #4
@badrsony and @TTMTT (status updated): in a gay relationship.

[2014-12-14 22:38] willgabriel commented on #4
¬¬'

[2014-12-14 22:40] MohammedNawar commented on #4
whatever happens though show some respect

[2014-12-14 22:59] TWoinONe1 commented on #4
@troop3r-br Good !

[2014-12-15 02:30] nikosSid commented on #4
@MohammedNawar respect is earned...we owe it to noone... @badrsony and @TTMTT are nothing but liers and false promises..I dont doubt them having a solution.But they dont have a free one for all of us as they been claiming. They out there making money. I whould do the same.. but at least i whouldnt give out so many lies and hope to all those desperate people who were scammed 250-300+ euro/dollars f

[2014-12-15 14:25] kubas02 commented on #4
I told you there would be no bypass, I personally gave up already wearing.
Fuck iCloud and all the crooks who do hope to people.
android is good he he

[2014-12-15 16:27] ghost commented on #4
@r0of Google?))))

[2014-12-15 16:49] drmatrix commented on #4
@R0of
what  that mean ?

[2014-12-15 16:50] nikosSid commented on #4
@R0of if u can help me out here is my email fiogkos2@gmail.com. thanks in advance...im unfollowing this issue..no point of staying here.gl to all

[2014-12-15 22:33] tsm0 commented on #4
When Varo is not making bypasses, he seems to be a pursuesnatcher :p http://scvnews.com/2012/12/01/update-glendale-man-arrested-for-newhall-purse-theft/

[2014-12-15 22:41] willgabriel commented on #4
Varo is a big liar, of course. doulci is fake, TTMTT ??

[2014-12-15 23:12] troop3r-br commented on #4
about doulci (read from below)
![sem titulo](https://cloud.githubusercontent.com/assets/9743641/5445894/c103fd82-8496-11e4-9c17-7c9054fea8da.png)

[2014-12-16 01:35] kbulzo commented on #4
good night guys, spent a few days traveling and it seems to me that nothing has changed, news?

[2014-12-16 01:49] drmatrix commented on #4
@rafaelcarioca7
what you think about using Dspace for dynamic ui xml and load cores to real access sf ios

http://www.dspace.org/latest-release
http://www.academia.edu/4181346/Installing_DSpace_on_Windows
https://github.com/DSpace

[2014-12-16 14:47] wvirk commented on #4
Any news guys??

[2014-12-16 17:25] rainer2555 commented on #4
Has anyone tried DeveloperDiskImage ?

[2014-12-16 19:24] oncomangus commented on #4
anyone have barney_activation_help_en_us.buddyml for bypass 4S...?
if u have please mail oncomangus13@yahoo.com
thnks

[2014-12-16 19:30] rainer2555 commented on #4
https://mega.co.nz/#!oB8DxaLC!UUnxWygON-9_0c7tIOXpRIeYChi-JpZmYY7fHhVW30s

[2014-12-16 19:31] oncomangus commented on #4
this work broo ios 8.1...?

[2014-12-16 19:32] geekman28 commented on #4
<xmlui action="replace"><alert cancelButtonTitle="Unlock" />
    <page>
        <navigationBar title="blablabla" hidesBackButton="true"></navigationBar>

[code]

</section>
        </tableView>

[code]

</xmlui>

[2014-12-16 19:32] rainer2555 commented on #4
do not know :D

[2014-12-16 19:33] geekman28 commented on #4
http://www.theicloudbypass.net/deviceservices/buddy/

[2014-12-16 19:34] oncomangus commented on #4
i have too...but doesn't work.....back to hollaaa
![2014-12-17 02_33_14-bypass proxy rtf - wordpad](https://cloud.githubusercontent.com/assets/8903402/5460411/177de2be-8595-11e4-9cba-f56fa68d0c65.png)

[2014-12-16 19:34] wvirk commented on #4
does anyone have any ip for unlocking just the iTunes

[2014-12-16 19:40] rainer2555 commented on #4
http://idevice.eu.pn/htcdocs-bypass/

[2014-12-16 19:41] oncomangus commented on #4
problem....can't backup n restore #hiks

[2014-12-16 19:45] geekman28 commented on #4
http://dl.free.fr/nExqWEl9h

[2014-12-16 19:50] oncomangus commented on #4
what is that @geekman28....?

[2014-12-16 19:53] geekman28 commented on #4
htdocs, only bypass itunes

[2014-12-16 21:37] Nad4 commented on #4
this is an update but its only for itunes sync http://idevice.eu.pn/sync-itunes-idevice/

[2014-12-16 21:47] SoulnChain commented on #4
lol

[2014-12-16 21:49] ghost commented on #4
and if we backup and then restore that backup in the device will bypass the setup screen?

[2014-12-16 22:03] troop3r-br commented on #4
this is the theory...

[2014-12-16 22:11] ghost commented on #4
hope anyone try it and post the results here

[2014-12-16 22:18] ramazoty commented on #4
always the same thing... can't backup :/

[2014-12-17 00:47] kbulzo commented on #4
@all is to know the email address you are logged in idevice ??

[2014-12-17 00:48] willgabriel commented on #4
eu nao sei, nao consigo ver..i dont know!

[2014-12-17 01:36] kbulzo commented on #4
had it was very interesting

[2014-12-17 03:09] h00d3d commented on #4
@HERO4903 i need ur help are u there? mail me immediately d.1.2@bk.ru

[2014-12-17 04:18] HERO4903 commented on #4
h00d3d ya te envié correo amigo

[2014-12-17 04:36] h00d3d commented on #4
@HERO4903 sent u mail. reply plz

[2014-12-17 05:36] h00d3d commented on #4
thanks @HERO4903 got ur mails.
and now i need @nikosSid mail me bro

[2014-12-17 11:17] nikosSid commented on #4
@h00d3d got it

[2014-12-17 13:29] h00d3d commented on #4
@nikosSid sent u msg. check

[2014-12-17 15:37] djzveruga commented on #4
Mail me too :c
vladdav2000@yandex.ru

[2014-12-17 18:03] g454ly commented on #4
@nikosSidwant @HERO4903  @h00d3d send me to bro i want to try it too bro

[2014-12-17 18:06] oncomangus commented on #4
me too bro oncomangus13@yahoo.com
@HERO4903 @h00d3d

[2014-12-17 18:06] willgabriel commented on #4
mail to me please williamgab@gmail.com

[2014-12-17 18:17] kbulzo commented on #4
help I test please lkbypass@gmail.com

[2014-12-17 18:21] troop3r-br commented on #4
what are you talking about guys?

[2014-12-17 18:32] hajkac63 commented on #4
@h00d3d
help please mail to me Bro anime19fr@yahoo.fr

[2014-12-17 18:50] djzveruga commented on #4
i dont know :D

17.12.2014, 21:21, "troop3r-br" notifications@github.com:

[2014-12-17 19:28] oncomangus commented on #4
just wanna look info EMAIL from icloud...anyone....?

[2014-12-17 19:45] h00d3d commented on #4
guys its not about big stuff. of course will let u know the result

[2014-12-17 19:51] kbulzo commented on #4
@oncomangus also I'm in search of email

[2014-12-17 20:12] SoulnChain commented on #4
lol

[2014-12-17 20:19] h00d3d commented on #4
"guys we all already know enough to do it all, but we didnt focus on / make it happen"
@badrsony whats up? how is ur business goin bro

[2014-12-17 20:27] hajkac63 commented on #4
@h00d3d
Please share with me   anime19fr@yahoo.fr

[2014-12-17 20:31] Maaawww commented on #4
finally i can back up from iTunes. Will see..

[2014-12-17 20:33] rainer2555 commented on #4
@Maaawww  with old itunes ? or delited some files ?

[2014-12-17 20:40] Maaawww commented on #4
iTunes 11.2.
iTunes 11.1 not supported, crash.

[2014-12-17 20:40] rainer2555 commented on #4
ok

[2014-12-17 20:54] h00d3d commented on #4
@hajkac63 bro nothing yet to share. making slow progress

[2014-12-17 22:01] hajkac63 commented on #4
@h00d3d
thanks  good luck bro

[2014-12-17 23:12] SoulnChain commented on #4
@badrsony and @TTMTT any updates? how s your honeymoon? can you upload fotos or video of your honeymoon for all to see? @TTMTT you can use your icloudin link download button for that too ;) best wishes for you gays. Nice couple!

[2014-12-17 23:29] Sebashock commented on #4
maybe death

[2014-12-18 02:52] Redarkgg commented on #4
@Maaawww  u backup and bypass icloud whats version u get and whats idivice u have thanks in avance :D

[2014-12-18 08:46] HarisDevs commented on #4
What I said to you guys later before, u said i'm cunt for saying that badrsony and ttmtt have nothing. Thanks :+1:

[2014-12-18 09:32] g454ly commented on #4
@nikosSid @HERO4903 @h00d3d send me to bro i want to try it too bro

alhy.jiee@gmail.com

[2014-12-18 14:11] mystic2eyes commented on #4
Nice work you guys....@badrsony & @TTMTT
I have 5S with iOs 8.1.1....there is something that I could do ???

[2014-12-18 15:16] willgabriel commented on #4
ok

[2014-12-18 16:08] albastrel commented on #4
@all someone who did carrier fix iphone 4 ? :S....... or any information for Carrier Operator.bundle and Carrier Bundle.bundle..... or gsm!!!

[2014-12-18 16:25] oncomangus commented on #4
11.2...? i use shame itunes 64bit,but can't backup too...
can little explain @h00d3d

[2014-12-18 17:44] neox09 commented on #4
please send me the files to try bypass and back up @h00d3d
eloriginaldjneox@hotmail.com  thanks!!!!!!!

[2014-12-18 18:12] troop3r-br commented on #4
email flood again and no solution :/

[2014-12-18 18:48] kubas02 commented on #4
@badrsony & @TTMTT those people who have had this memory a purpose to cheat users
I wonder if it made them fun
God's punishment of their reach

[2014-12-18 19:57] Ganja47 commented on #4
cmon guys, flaming does not help no one
don't know of their motivations or if they actually have a bypass now
blame ourselves for listening to crypted crap and hints and tips that never lead anywhere
trolls would be nothing without their followers.
just follow proper channels like gsmhosting if you're waiting for a ready made bypass/tutorial, if there is a bypass you'll see it there early
if you'r

[2014-12-18 23:23] rainer2555 commented on #4
@albastrel
Tutorial Iphone 4 GSM IOS 7.1.1 (importante) Icloud Bypass and carrier signal restore
1. restore to IOS 7.1.1
2. upon restore remove from pc do not let itunes detect that its locked. no sim installed no wireless (important point)
3. turn off phone close itunes and enter DFU Mode  (Google it how to enter DFU Mode)
4. Launch ssh_rd_rev04b-iPhone4-RevA.jar  (download)
5. when its done conn

[2014-12-18 23:39] Nad4 commented on #4
yes its for iphone 4 its on http://myicloud.info/i4bypass-with-carrier/ web site great i am going try

[2014-12-18 23:45] albastrel commented on #4
@rainer2555 tnx i try now

[2014-12-19 00:30] Nad4 commented on #4
what happen to icloudin videos youtube channel ?

[2014-12-19 01:09] oncomangus commented on #4
anyone have 4s bypass

[2014-12-19 02:45] juanluis3030 commented on #4
ios apple stopped signing 8.1.1

[2014-12-19 03:15] h00d3d commented on #4
@Ganja47 havent u done what badr said to u? or failed?

[2014-12-19 03:29] h00d3d commented on #4
sent msgs to some of u. check

[2014-12-19 04:10] BenjiBth commented on #4
is anyone have tried the ip4 baypass with carrier ?

[2014-12-19 04:18] Mika3l commented on #4
doesn't accept lockdowned with permission 744 ;(

[2014-12-19 07:30] ghost commented on #4
@rainer2555  You can't restore to 7.1.1, on iP4, only 7.1.2

[2014-12-19 08:53] rainer2555 commented on #4
why ?

[2014-12-19 09:48] ghost commented on #4
Actual version 7.1.2, 7.1.1 is no longer sign by apple.

[2014-12-19 10:14] ghost commented on #4
Anyone have original lockdownd from 7.1.1? So i can find what was patched..

[2014-12-19 17:02] Ganja47 commented on #4
@h00d3d conversation i had with badrsony was pretty fruitless for me, he basically just kept asking me questions, any time i was right (or he thinks so) he asked next question. although this can be seen as guidance it never got me nowhere

[2014-12-19 18:56] h00d3d commented on #4
@Ganja47 ur mail?

[2014-12-19 19:00] Ganja47 commented on #4
@h00d3d ganja4711@googlemail.com

[2014-12-19 19:12] oncomangus commented on #4
@all anyone how to jailbreak with devices lock....?

[2014-12-19 19:21] Ganja47 commented on #4
@oncomangus not looking good m8
 Raz3r™ @_Raz3R_  ·  Dec 9
Came across something good from taig! It's more then just a J.B!!! Is all I'm saying!
 Raz3r™ @_Raz3R_  ·  Dec 9
This is a great way of those that need bypass! If u know how!
can't figure out more though, have usb sniffed connection of device, pairing record request fails, no big surprise
not sniffed connection on activated device, sched

[2014-12-19 19:24] oncomangus commented on #4
@Ganja47 solution is....? can't

[2014-12-19 19:38] Ganja47 commented on #4
@oncomangus some other dude/team (redsn0w maybe? can't really remember) claimed before they not releasing new jailbreak cause it would accidentally bypass fmi and they not supporting theft.
the way i see it is that taig only checks for activation but could jailbreak or even activate an unactivated device. questions is how to fool this check
syslog of phone shows nothing upon taig start and check w

[2014-12-19 19:41] oncomangus commented on #4
@Ganja47 thnks mate #cheers

[2014-12-19 19:44] Ganja47 commented on #4
@oncomangus nae worries m8
like to watch and spill out thoughts, while daily grind is on i get too stoned right after work to do much research myself though. new years resolution maybe? we see haaaaa
holidays coming up though

[2014-12-20 00:28] Nad4 commented on #4
iphone 4
https://mega.co.nz/#!aI9jDIxJ!yhepxKuCkh-YoGeSiRrd02GSxuBGOAlEG2ennZuPlf8

[2014-12-20 00:40] albastrel commented on #4
@Nad4 i will try your solution tomorrow , this 7.1.1 bypass and signal no work.... iphone 4!

[2014-12-20 02:09] syarwo commented on #4
iexplorer full version can show  folder backup @all how to inject contacts file?

[2014-12-20 08:38] 3ruceW commented on #4
@rainer2555
Thanks bro,  I haven't tryed the proc in your tutorial for iP4 but appreciate that you're one of very few that shares some hints here.

[2014-12-20 14:05] ghost commented on #4
No more videos from scammer...
http://www.youtube.com/user/dTTMTTb
This account has been suspended due to multiple or severe violations of YouTube's policy against spam, scams and commercially deceptive content.

[2014-12-20 15:25] kbulzo commented on #4
http://racaox.tk/icloud-removal.html fake ???

[2014-12-20 17:29] nashwanoz commented on #4
ياخي مجد ما يتمصخر او يكذب على احد
انسان صادق وعنده ظروفه
الرسول يقول بمعنى حديثه ( اجعل لاخاك الغائب سبعين عذرا
الله يوفقه
واذا كان ما عنده حل مثلا
ما اخذ مننا شيء ولا نصبنا بشيئ
فما في داعي للغلط والشتائم

[2014-12-20 20:08] kubas02 commented on #4
Magd Almuntaser
because it is a whore fucking liar

[2014-12-21 03:57] rawon-tuyul commented on #4
![1419133749564](https://cloud.githubusercontent.com/assets/9677731/5517098/853d3e42-8907-11e4-8fe2-111f486069b3.jpg)
![1419133841090](https://cloud.githubusercontent.com/assets/9677731/55y17099/ad90fef6-8907-11e4-877a-11d889cd466f.jpg)
dijual untuk spare part ipad mini 2 retina display..wifi only A1489..... ios 7.1.2 khusus indo....

[2014-12-21 06:22] djzveruga commented on #4
Hey, Magd Almuntaser,@TTMTT you just sayd that you read every cooment there, if it's true, answer me. Let's see...

[2014-12-21 07:15] h00d3d commented on #4
@nashwanoz in english? what does it mean?

[2014-12-21 08:02] hajkac63 commented on #4
au diable ce satané de magd  il a fini par enterré tout espoir
continuer a le supporter bande d'imbeciles

[2014-12-21 11:52] HoudHoud commented on #4
@TTMTT is the only solution for @all
![majd](https://cloud.githubusercontent.com/assets/9301069/5518016/22fde32c-8910-11e4-9576-5c063eb864a3.png)

[2014-12-21 15:29] geekman28 commented on #4
MAGD FAKE !!!

[2014-12-21 22:28] SoulnChain commented on #4
lol

[2014-12-22 00:48] kbulzo commented on #4
working hard on this mission
![bypass](https://cloud.githubusercontent.com/assets/9167463/5520329/5cfbbd12-8963-11e4-8d4a-c207045d326b.png)

[2014-12-22 01:35] kbulzo commented on #4
@willgabriel esta na area ?

[2014-12-22 01:58] Sebashock commented on #4
@kbulzo apenas bypass itunes ou você pode fazê-lo completo?

[2014-12-22 02:01] Sebashock commented on #4
que bueno excelente

[2014-12-22 02:03] Roshtilj commented on #4
yeah but after syncing can u restore it @kbulzo ?

[2014-12-22 02:24] Sebashock commented on #4
@kbulzo compartirias los archivos ?

[2014-12-22 02:40] Roshtilj commented on #4
u can ? if u restored it with backup did u get bypass ?

[2014-12-22 04:17] willgabriel commented on #4
@kbulzo alguma novidade, me manda email. abraço!

[2014-12-22 09:15] Mika3l commented on #4
@HarisDevs yesterday you manage to register for doulchi software and you pretended that you are part of our society ,where are you now you MF why don't you share open source code here

[2014-12-22 09:18] Mika3l commented on #4
all day la la la need pass need , and when you get it don't share .I work on few ways to pass not for money not for pride just for the game thats my hobby

[2014-12-22 11:21] kbulzo commented on #4
@willgabriel
![img_0446](https://cloud.githubusercontent.com/assets/9167463/5524409/ddd01840-89bb-11e4-855f-dbba4b183ac6.PNG)

[2014-12-22 11:22] florindmtr commented on #4
Thanks but useless, unless you share a tutorial or some code. Merry Christmas to all!

[2014-12-22 11:23] kbulzo commented on #4
does not work 100% that it will not go up the carrier signal

[2014-12-22 11:25] florindmtr commented on #4
well can you share somewhere the code you have so far? maybe someone else can help you.

[2014-12-22 11:38] djzveruga commented on #4
Plz, make new topic

[2014-12-22 11:56] john403 commented on #4
@kbulzo ,,,
any bypass news ????

[2014-12-22 12:05] kbulzo commented on #4
partial deviation

[2014-12-22 12:05] kbulzo commented on #4
is not 100%

[2014-12-22 12:28] kbulzo commented on #4
@all someone with htdocs date with valid certificates for testing with my files? we do all have us a very happy christmas

[2014-12-22 12:29] kbulzo commented on #4
lkbypass@gmail.com

[2014-12-22 12:31] willgabriel commented on #4
I dont know i have some files only.deleted files, had a lot of trash.

[2014-12-22 12:31] willgabriel commented on #4
I will send to u.

[2014-12-22 12:33] oncomangus commented on #4
oncomsngu13@yahoo.com plzzz

[2014-12-22 12:33] oncomangus commented on #4
oncomangus13@yahoo.com

[2014-12-22 12:37] geekman28 commented on #4
@kbulzo send me please dilhanneyaman@gmail.com

[2014-12-22 12:40] Fafaiya commented on #4
@kbulzo : Would you give me some tutor about your bypass, wanipiro1986@gmail.com tks, if ur can bypass, can you jailbreak or no ?

[2014-12-22 12:43] kbulzo commented on #4
I'm at work, later I will do more tests

[2014-12-22 12:45] willgabriel commented on #4
@kbulzo mandei pra vc, ve la.

[2014-12-22 13:39] ghost commented on #4
@kbulzo will it work on iPad 3?

[2014-12-22 13:52] kriczq commented on #4
@kbulzo can you send me please? kriczq@gmail.com

[2014-12-22 16:48] geekman28 commented on #4
what this server ? pd-nk.itunes.apple.com

[2014-12-22 16:56] Sebashock commented on #4
@geekman28  That caught my attention too

[2014-12-22 19:32] hajkac63 commented on #4
@kbulzo
Hi bro
i send to u
please share with me

[2014-12-23 00:59] troop3r-br commented on #4
[EXIT]

[2014-12-23 02:37] ghost commented on #4
@troop3r-br another scam. he has nothing to release

[2014-12-23 02:46] MohammedNawar commented on #4
http://www.mediafire.com/download/nstzkokkzc3gyfv/DoulCi+Tool+V2.0+Setup.rar

[2014-12-23 02:49] BenjiBth commented on #4
@MohammedNawar is it safe ?

[2014-12-23 03:58] AuraDhuha commented on #4
@BenjiBth : Don't waste your time. The installation need a password to install, and I'm pretty sure the software not from DoulCi team as they said that they will release doulCi tool and of course make it public.

[2014-12-23 11:34] alejandrofcarrera commented on #4
@kbulzo if you can bypass activation, you can jailbreak that device and with SAM activate your signal ? Good investment to all

[2014-12-23 11:38] syarwo commented on #4
@kbulzo can you send me please?
isyarwono@gmail.com

[2014-12-23 12:02] Mika3l commented on #4
![cert1](https://cloud.githubusercontent.com/assets/9485256/5537490/4bf695f2-8aab-11e4-860b-9085b6eaffcf.png)
let's back on that pic what do we see , where is the gap ........MobileDevice.dll known as SDMMobileDevice or library connected with DeveloperDiskImage  or mobile image mounter libraries
,so on windows we have to modify or inject new MobileDevice.dll that can create or modify requests and

[2014-12-23 12:22] takki62 commented on #4
if any one want to override Sandbox protection here is the link for the library.

https://github.com/samdmarshall/SDMMobileDevice

a veryusefull

https://bitbucket.org/tristero/mobiledeviceaccess

[2014-12-23 14:22] kbulzo commented on #4
when a idevice and connected generate four folder as if he had connected four iDevices
![bypass2](https://cloud.githubusercontent.com/assets/9167463/5538641/5328dc20-8a9e-11e4-81e5-5c03e92ec72b.png)

[2014-12-23 14:27] syarwo commented on #4
@kbulzo can you send me htdocs please?
isyarwono@gmail.com

[2014-12-23 14:32] wvirk commented on #4
I don't remember very well. But during ios 5 time I once had to delete Mobiledevice.dll and then copy one from ios 4 era to be able to jailbreak ios 5. There was no known issue but I was trying out things and it worked I am pretty sure abt that.

Sent from my iPhone

[2014-12-23 14:52] Mika3l commented on #4
iTunes activates device but the push massage and WildActivationTicket comes from Albert but modified MobileDevice.dll messes up both device and server.Activation programs as DoulCi and iclouDin gives direction to MobileDevice.dll and its libraries they reduce in my opinion some data or changes on fly ,coz after 7.1.2 Albert verify IMEI and serial for restrictions after all decides whether to push

[2014-12-23 15:15] florindmtr commented on #4
That's correct. So you can try to hack itunes or mobiledevice.dll, whatever, it won't work cause the validation is done on the device by the iOS. So you need the correct certs and correct x509 encrypting command so it is valid on the device.

[2014-12-23 16:20] geekman28 commented on #4
@kbulzo share me your htdocs file
dilhanneyaman@gmail.com

[2014-12-23 16:26] wvirk commented on #4
@kbulzo please share ur htdocs with me too. I have a theory.

Sent from my iPhone

[2014-12-23 16:54] Maaawww commented on #4
Can you please stop spamming ur emails? :D
@kbulzo Conseguiste hacer un back up?

[2014-12-23 17:07] lordhigh commented on #4
Will there ever be a bypass? I have a iPhone 5s 8 ..lying around useless!

[2014-12-23 22:02] Nad4 commented on #4
new proxy: ip sv1.hackingicloud.com port: 2309 only surf and lost icloud mode again

[2014-12-24 01:28] juanluis3030 commented on #4
@all anyone knows how to circumvent passcode on ios 7.0.4?

[2014-12-24 01:44] kbulzo commented on #4
I find it interesting to understand why some work procedures we use, and not just "use because it can operate"

[2014-12-24 01:59] AuraDhuha commented on #4
@juanluis3030 : There is a device that can break passcode. Check youtube. Device made by china.

[2014-12-24 02:05] juanluis3030 commented on #4
@AuraDhuha thanks my bro

[2014-12-24 03:40] AuraDhuha commented on #4
@juanluis3030 : Anytime bro. :+1:

[2014-12-24 12:24] Nad4 commented on #4
any one understand this ? it seems be a server  https://setup.icloud.com/setup/update/$APPLE_ID$/$UDID

[2014-12-24 12:45] geekman28 commented on #4
http://www.elcomsoft.com/PR/recon_2013.pdf

[2014-12-25 17:05] g454ly commented on #4
any good news today?

[2014-12-25 19:20] djzveruga commented on #4
we haven't backup, why we want this program?

[2014-12-26 04:52] HERO4903 commented on #4
http://www.ereeblog.com/2014/09/how-to-use-redsn0w-to-unlock-iphone.html

Is real?

[2014-12-26 06:59] ghost commented on #4
@R0of read carefully - First be attention this is only for already activated devices it means if you have an iPhone or an iPad, which is already activated, everything works, but you forgot your iCloud password.

[2014-12-26 06:59] ghost commented on #4
@HERO4903 it's fake

[2014-12-26 07:04] HERO4903 commented on #4
Ok thanks

[2014-12-26 08:44] ghost commented on #4
@R0of I can't try this, haven't phone in such condition. Theoricaly sound like truth.

[2014-12-26 09:03] M-daniyal commented on #4
i have iphone 5 gsm icloud locked. and i cant download this tool. Download Not Yet!....... u send me this tool on my mail plz (hangker123@gmail.com)

[2014-12-26 09:15] M-daniyal commented on #4
ku kiya hoa ? what happen!

[2014-12-26 09:20] M-daniyal commented on #4
my english is too bad but how did u know that? .
                              :P  haahahahahahahahahahahha

[2014-12-26 09:20] M-daniyal commented on #4
u know urdu language?

[2014-12-26 09:33] M-daniyal commented on #4
let see u have any other option to bypass icloud activation?

[2014-12-26 11:12] florindmtr commented on #4
The tool is a lie... there is no tool, just liars...

[2014-12-26 13:22] willgabriel commented on #4
sorry, but the tool is true, and now you understand how it works, just not yet know how to build it entirely, as some people have managed to unlock @kbulzo already succeeded because I know him. @TTMTT does not release because people are unreliable, it will likely release when he sees fit, unfortunately.

[2014-12-26 15:08] Sebashock commented on #4
@TTMTT says this week be released

[2014-12-26 15:16] Nad4 commented on #4
any one try this new video tutorial iphone 4 myicloud.info/update-iphone4/

[2014-12-26 16:12] ghost commented on #4
@Nad4 Update files broken. With previous files all works: push notification, find my phone, etc.. except carrier

i can set lost mode, send sound signal, erase phone from icloud.com. but its all useless without carrier.

[2014-12-26 16:33] ghost commented on #4
crash any app iOS 7-8
![c07170da694f673fe852830d91c14322](https://cloud.githubusercontent.com/assets/642907/5558376/414105f6-8d4f-11e4-8954-507247900cf5.gif)

[2014-12-26 16:41] rawon-tuyul commented on #4
![aa](https://cloud.githubusercontent.com/assets/9677731/5558402/f524cf82-8cda-11e4-9b8a-c687f6ad426a.jpg)

[2014-12-26 17:10] BladiMar commented on #4
@willgabriel ,bro wish tool are you talking about?

''sorry, but the tool is true, and now you understand how it works, just not yet know how to build it entirely, as some people have managed to unlock @kbulzo already succeeded because I know him. @TTMTT does not release because people are unreliable, it will likely release when he sees fit, unfortunately.''

[2014-12-26 17:13] willgabriel commented on #4
Man is True but ttmtt no release simple, i think sorry
Em 26/12/2014 13:10, "BladiMar" notifications@github.com escreveu:

[2014-12-26 18:57] ghost commented on #4
@gurin  Awesome Guy!

[2014-12-26 20:22] Mocartxx commented on #4
@TTMTT will release app

[2014-12-26 23:10] ghost commented on #4
@Mocartxx I dont think he has something to release. Only his videos and zero help to community. Just blabla method 1-2-3 change some string, change some file, change some xml. Nothing specific for months. This is github, not chat or youtube for video, github for developers and opensource projects.

@TTMTT https://github.com/about

[2014-12-27 06:04] penguinunix commented on #4
there is no such tool, no one have it, or if someone have it, they will make money of it.

there will be no release, since someone who have it will never release it, and will take it to their grave LOL

those who claimed to have the bypass, either a attention seeker is a profit seeker

[2014-12-27 08:41] florindmtr commented on #4
https://code.google.com/p/iactivator/

[2014-12-27 08:43] oncomangus commented on #4
i search for 4s....any info all...?

[2014-12-27 10:43] alejandrofcarrera commented on #4
Proxy (auto) http://hackicloud.com/ios.pac

Only for **lost mode** bypass icloud confirmed.

[2014-12-27 12:00] Mika3l commented on #4
doesn't work iPhone 5s lost ,mode iOS ver.7.1.2

[2014-12-27 12:06] alejandrofcarrera commented on #4
@Mika3l it is only for lost mode on lockscreen, "i guess with activate help bug + bypass button"
My own iPad Mini 8.1.2 confirmed that.

[2014-12-27 17:03] g454ly commented on #4
not working to white screen only black screen

[2014-12-27 17:06] M-daniyal commented on #4
any 1 have tool?

[2014-12-27 22:08] Nad4 commented on #4
Good news: New team on track for icloud activator
http://myicloud.info/new-team-new-icloud-activator/

[2014-12-27 22:38] ghost commented on #4
@Nad4 same song: we are working please wait, fixing bugs wait, very very soon...etc.

[2014-12-27 23:50] Rachadr commented on #4
@All any one can try this host ?:: 5.231.50.55

2014-12-27 22:38 GMT+00:00 Andrey notifications@github.com:

[2014-12-28 01:13] oncomangus commented on #4
port...? @Rachardr

[2014-12-28 01:39] kbulzo commented on #4
@Ganja47  The private chat this off ??

[2014-12-28 03:54] Mocartxx commented on #4
@TTMTT its in Istanbul nice I will visit gold carpel next year

[2014-12-28 08:35] jxosdev commented on #4
@r00f the private chat is no more accessible, is there any problem ?

[2014-12-28 11:46] Ganja47 commented on #4
@R0of shame this ended, there were a few gems on there like the taig lockdown patch dmg
can understand your motivation though, getting tired too
too much blabla but no one willing to share even the slightest progress apart from videos or percentage of readiness

[2014-12-28 12:02] kbulzo commented on #4
@Ganja47 need a private chat, the system has loopholes that and discuss interesting

[2014-12-28 12:20] Ganja47 commented on #4
@kbulzo or just start a chat under our control
no need to be that secretive, spill it all out, geohot never cared
even if there is an apple tech following any of these chats (which i doubt) nothing would ever be done until working vulnerability released

[2014-12-28 12:46] kbulzo commented on #4
![teste](https://cloud.githubusercontent.com/assets/9167463/5563850/b717eb16-8e7e-11e4-9166-8d4c3678db65.png)

[2014-12-28 13:40] M-daniyal commented on #4
neeeeeeeeeeeeeeeeeeeeeeeeeeeeed icloud toooooooooooooooll. llllllliiiiiiiiinnnnnnnnnkkkkkkkkk.

[2014-12-28 14:31] rawon-tuyul commented on #4
THE NEW PROMISE FROM SHIT ==== >>>>  ( WILL BE RELEASE SOON, WE ARE HARD WORKING, THIS WEEK WILL BE RELEASED, BLAH BLAH,BLAH ) FREE SOLLUTION FOR ICLOUD UNLOCK IS DEAD...

[2014-12-28 14:40] rawon-tuyul commented on #4
![1419777464193](https://cloud.githubusercontent.com/assets/9677731/5564083/3eaba348-8ee2-11e4-8a73-8bea5e8a55e9.jpg
I WANT DESTROY ONE BY ONE

[2014-12-28 14:45] kbulzo commented on #4
we are all in the same boat, I'm working when I finish can be sure I'll help everyone, but I have got many errors'm working on this mission

[2014-12-28 16:39] ghost commented on #4
@R0of what happened?!

[2014-12-28 18:06] Sebashock commented on #4
still working only itunes show me the info cannot do nothing more :(

still believe in you guys :(

@TTMTT please share the tool

[2014-12-28 18:23] kbulzo commented on #4
@all someone is getting generate the guid?

[2014-12-28 18:35] kbulzo commented on #4
??

[2014-12-28 18:38] TTMTT commented on #4
## wow, i miss you ..

[2014-12-28 18:40] Sebashock commented on #4
@TTMTT it good to know you I hope you are better now that you're in another country.

expect your cooperation with this little problem

Greetings and I hope you are all well

[2014-12-28 18:41] syarwo commented on #4
@ttmtt welcome back again :)

[2014-12-28 18:42] TTMTT commented on #4
@Sebashock

## yes i'm fine.. now i'm in istanbul - turkey..

@syarwo

## Thank u bro ..

[2014-12-28 18:44] kbulzo commented on #4
save save @TTMTT

[2014-12-28 18:46] willgabriel commented on #4
and now TTMTT?

[2014-12-28 18:46] willgabriel commented on #4
help us

[2014-12-28 18:47] djzveruga commented on #4
Yeah, you say that we can bypass our devices on this week

[2014-12-28 18:48] djzveruga commented on #4
Or you have 100% ETA?

[2014-12-28 18:49] willgabriel commented on #4
@TTMTT send us your paypal and finish this

[2014-12-28 18:49] Ryahuman commented on #4
@TTMTT Returns my friend? \õ/

[2014-12-28 18:56] djzveruga commented on #4
I think we newer have bypass D:

[2014-12-28 18:59] TTMTT commented on #4
@willgabriel
yes bro.. i will do that ..

[2014-12-28 18:59] AuraDhuha commented on #4
Edit : Read below, attached photo.

[2014-12-28 18:59] djzveruga commented on #4
@TTMTT Omg, donate? For what???

[2014-12-28 19:01] poroxa commented on #4
@TTMTT
but, when? I already Defeat Heart attack, but icloud not... :/

[2014-12-28 19:02] Sebashock commented on #4
@TTMTT then you will ask donations? , How much money? already planned to sell my phone because I had no solution

[2014-12-28 19:02] willgabriel commented on #4
few friends stayed, several have given up, we end this year 2014 to resolve this, do donation if needed.

[2014-12-28 19:02] AuraDhuha commented on #4
![img_0551](https://cloud.githubusercontent.com/assets/9734194/5564645/cdf8cc96-8f06-11e4-874b-d3f3d9903d7d.JPG)
![img_0553](https://cloud.githubusercontent.com/assets/9734194/5564646/ce00cd1a-8f06-11e4-858c-ba64675832de.JPG)
![img_0554](https://cloud.githubusercontent.com/assets/9734194/5564647/ce085b16-8f06-11e4-81be-bddcf0c2581e.JPG)
![ip5s32gb](https://cloud.githubusercontent.com/assets/973419

[2014-12-28 19:14] wvirk commented on #4
Welcome back brother. Don't worry abt anyone. They are all frustrated. Hope u r better in turkey.

Sent from my iPhone

[2014-12-28 20:02] Sebashock commented on #4
@TTMTT Please give details of paypal to send money and so to finally unlock the iphone

[2014-12-28 22:55] Sebashock commented on #4
We lost @TTMTT  again

[2014-12-29 06:19] djzveruga commented on #4
He is f*ckin scammer, he was the last our hope...
FMIP security is the strongest on the world. Bravo Apple!

[2014-12-29 07:10] rainer2555 commented on #4
@all One guy says that he can bypass All iDevices On Any IOS, It's Based On (Hardwre & Software)(when restoring remove lcd & digitizer ) & Software??? To Inject Files . Can anyone give it a try . I do not have a screwdriver :S

[2014-12-29 08:13] jxosdev commented on #4
@rainer2555  what does your friend mean by "software". does he own a special software ? if restoring is possible by removing the lcd then we can downlgrade to older ios version not supporting find my iphone.

[2014-12-29 08:17] rainer2555 commented on #4
@jxosdev do not know :) . i´m waiting for tuto. too

[2014-12-29 08:20] rainer2555 commented on #4
he tested & worked for iPad mini, need to test with all iDevices . but it will bypass not remove icloud(no network)

[2014-12-29 08:20] jxosdev commented on #4
is he planning to make a tuto ?

[2014-12-29 08:22] rainer2555 commented on #4
I hope so :D

[2014-12-29 08:28] jxosdev commented on #4
i hope it's not a scam. I dont mind even if there's no network. using the device as ipod will be enough. i'll try that after work. if you can get more info about the process, please share. thanks :)

[2014-12-29 08:30] rainer2555 commented on #4
of course

[2014-12-29 08:44] alejandrofcarrera commented on #4
There are many developers here... the most important thing in github is to work all together so if he share his code, we can test it and improve it for network or many other bugs. For me it is for investment and it is good start at non zero state, but for other people is due to ebay blocked phones for example.

Good luck and happy new year, i think that we do not have any news until after 31th Dec

[2014-12-29 11:27] Ganja47 commented on #4
@all does anyone have any decent info about ddi and what can be done with it?
iH8Sn0w keep hinting on taig being able to bypass but serviceagents in ddi prohibited in unactivated state
any proper documentation on ddi and capabilities?

[2014-12-29 11:40] kbulzo commented on #4
I activated 2 iDevices with my code but now is not more generating more guid was so generate new certificate and unlock, someone is getting generated guid

[2014-12-29 11:45] Ganja47 commented on #4
@kbulzo i don't understand your concept, need more info
ganja4711@googlemail.com

[2014-12-29 11:48] jxosdev commented on #4
@kbulzo du you mean, the generated guid is already owned by someone ?

[2014-12-29 11:51] jxosdev commented on #4
@kbulzo you managed to activate 2 iDevices. you're surely on the right way. please share the code, let's work together on it. jxosdev@gmail.com

[2014-12-29 15:39] rainer2555 commented on #4
let´s wait for tuto .

[2014-12-29 16:13] BladiMar commented on #4
let's hoop this one will be the real deal ;/

[2014-12-29 16:14] Roshtilj commented on #4
@kbulzo LOLOLOLO man hardware method only works with IPAD 3g (with simcard) .... not with iphone.. Simple u didn't de-soldier some stuff from it .. if u did it would be working as an Ipod...(couse u destroy imei and activate it via serial number)... that is why there is even a guide for ipads from dude i think he's called pashafromrussia or sth like that ....

[2014-12-29 16:31] rainer2555 commented on #4
@Roshtilj look at twitter for user GSMDZ

[2014-12-29 17:33] Roshtilj commented on #4
@rainer2555 https://twitter.com/Fodil123/status/549320458349596672 .... read it m8 .... ipad mini retina 2 (iPad mini A1490) aka (Apple iPad mini 2 (Retina/2nd Gen, Wi-Fi/Cellular)

[2014-12-29 17:36] rainer2555 commented on #4
@Roshtilj yes and https://twitter.com/Fodil123/status/549314533496733696

[2014-12-29 17:40] rainer2555 commented on #4
@all is this real https://www.youtube.com/watch?v=IeXXRsq2N9E

[2014-12-29 17:42] rainer2555 commented on #4
he asks 50$ now for tool or free within two months

[2014-12-29 17:45] Roshtilj commented on #4
@rainer2555 well... u got me there , but lets go on logic.... hardware but no soldiering or de-soldiering ....then whats hardware :)
fodil "activated" 1 phone and even downgraded .. but no solution (still) or some public tests... (was it real ? )
ttmt who started this thred vanished to turkey .. or wherever (who knows if he has something or everything was a hoax ? )
badrsony I even talked him via

[2014-12-29 17:49] rainer2555 commented on #4
@Roshtilj ok :D . But let´s wait a little more .May be he makes tuto or hints

[2014-12-29 17:55] Roshtilj commented on #4
@rainer2555 got no probs for waiting , made proxy server for me so i can go to youtube and play some small game from facebook :)

[2014-12-29 17:59] rainer2555 commented on #4
@Roshtilj I bought myself a new 6+ , but 5s is still very locked :D

[2014-12-29 18:12] HERO4903 commented on #4
Ya son mas de tres meses esperando una solución con muchas promesas de pronta solución y nada seguimos igual que al principio tal vez sea necesario empezar todo desde el principio quizás Taig sea la solución voy a explorar haber que encuentro

[2014-12-29 18:14] willgabriel commented on #4
Ttmtt quer aparecer não posta nada, so quer que os outros fiquem babando o
ovo dele. Falo mesmo
Em 29/12/2014 14:12, "HERO4903" notifications@github.com escreveu:

[2014-12-29 23:10] Faroukd0t commented on #4
Fucking iCloud :smile:

[2014-12-29 23:11] Imadoh commented on #4
wa yeeeeeeeeeeehh lol

[2014-12-29 23:27] BladiMar commented on #4
kolha o hamo, o 7na hamna icloud :p

[2014-12-30 00:48] HERO4903 commented on #4
Estoy empezando a creer que apple hizo un buen trabajo con icloud pero no por que ios sea invulnerable si no por que existen doulci y gadgetwide que han trabajado a favor de apple cuantos mas aparte de ellos

[2014-12-30 04:37] kbulzo commented on #4
![prova](https://cloud.githubusercontent.com/assets/9167463/5575708/b5d5edee-8fcc-11e4-9ecd-97acddf7d7d0.png)

[2014-12-30 04:39] kbulzo commented on #4
![prova2](https://cloud.githubusercontent.com/assets/9167463/5575732/1c808374-8fcd-11e4-9668-d468d7337d13.png)

[2014-12-30 04:49] BenjiBth commented on #4
@kbulzo can you email me your htdocs file ? agungrhool@gmail.com

[2014-12-30 05:09] kbulzo commented on #4
I'm tired I slept by brothers

[2014-12-30 05:13] oncomangus commented on #4
@kbulzo done bro....

[2014-12-30 06:52] Fafaiya commented on #4
@kbulzo : Would you share ur htdocs ? wanipiro1986@gmail.com

[2014-12-30 06:54] takki62 commented on #4
@kbulzo  please share also at takki62@hotmail.com

[2014-12-30 06:57] djzveruga commented on #4
@kbulzo me too :D
vladdav2000@yandex.ru

[2014-12-30 06:57] jxosdev commented on #4
@kbulzo please share htdocs, we'll never succed unless you give a little hand. Thanks bro. jxosdev@gmail.com

[2014-12-30 10:06] kbulzo commented on #4
good day, our so tired more but worth the effort momentanio, and glory forever and bypass bypass

[2014-12-30 10:09] takki62 commented on #4
@kbulzo  good day sir . any hope. did u shared the HTDOCS???

[2014-12-30 10:11] kbulzo commented on #4
can i help you

[2014-12-30 10:13] BladiMar commented on #4
@kbulzo bro wil you share your xampp files plzz? 7a7580aa@opayq.com
thanks in advance bro

[2014-12-30 10:17] takki62 commented on #4
@kbulzo YEP please

[2014-12-30 10:17] kbulzo commented on #4
which error you guys are having?

[2014-12-30 10:18] takki62 commented on #4
@kbulzo activation information invalid

[2014-12-30 10:19] BladiMar commented on #4
a big error , icloud lock :)

[2014-12-30 10:19] kbulzo commented on #4
certificate is ok?

[2014-12-30 10:20] takki62 commented on #4
Dear Sir can YOU make TUTO and also please share your HTDOCS .

[2014-12-30 10:20] lblxh3 commented on #4
@kbulzo can u share files？ lblxh3@gmail.com
Thanks……

[2014-12-30 10:22] BladiMar commented on #4
@kbulzo bro , i have one locked iphone 5,no more then one. please help,share your knowledge..
7a7580aa@opayq.com

[2014-12-30 10:22] nomad0711 commented on #4
@kbulzo would you please email me the files at nomad0711@yahoo.com ? Thank you :)

[2014-12-30 10:26] kbulzo commented on #4
I'm sure several people here already obtained bypass

[2014-12-30 10:26] BladiMar commented on #4
not me sir :(

[2014-12-30 10:32] oncomangus commented on #4
@kbulzo bro how bout my htdocs...u was read...?

[2014-12-30 10:34] jxosdev commented on #4
@kbulzo i understand if you dont wanna share, but at least please share the process. did u unlock white screen. let's talk, my mail jxosdev@gmail.com

[2014-12-30 10:42] oncomangus commented on #4
stiill error line 101 @kbulzo

[2014-12-30 10:46] rAbd0u commented on #4
@kbulzo can you share HTDOCS ？ rafieabdou@gmail.com

Thanks

[2014-12-30 10:49] takki62 commented on #4
For XAMPP need to uncomment lines 99-100 and comment lines 102-103 in files "deviceActivation".

Check path of XAMPP (c:\xampp) and openssl (c:\xampp\apache\bin)

[2014-12-30 10:51] kbulzo commented on #4
also

[2014-12-30 10:54] teddy81 commented on #4
Hi people... I was going through all posts... finally I found a group of people who is actually working on unlock or bypass... I am trying also... so far... no success of course.

[2014-12-30 10:56] nomad0711 commented on #4
@all can someone please share, so I could try on my phone ?

[2014-12-30 10:58] takki62 commented on #4
@kbulzo   what also ????

[2014-12-30 11:07] teddy81 commented on #4
Will it be possible to get backup files from the same device as you are trying to unlock and then change in the files signature info about the device... to synchronize it and unlock it?

[2014-12-30 11:08] drmatrix commented on #4
@kbulzo

what about GUID
 and
$config ??
CertificateURL ??
$cert_sn  ??
 you still use minacriss cert ?

what changes have you make in deviceActivation file ?

plz answer for we can folllow you

[2014-12-30 11:14] rAbd0u commented on #4
@BladiMar Salam khoya, je peux essayer
Rafieabdou@gmail.com
Merci...

[2014-12-30 11:15] takki62 commented on #4
@drmatrix  actually problem start from this "" if anyone have some knowledge he is not willing to share or not have what they said""  this github plateform for sharing knowledge not for hiding and misleading...

[2014-12-30 11:15] M-daniyal commented on #4
walaikum assalam

On Tue, Dec 30, 2014 at 3:14 AM, rAbd0u notifications@github.com wrote:

[2014-12-30 11:20] M-daniyal commented on #4
i  need to bypass icloud activation on screen and remove icloud on iphone .
what did u want ?

[2014-12-30 11:22] M-daniyal commented on #4
plx send me your Htdocs in (hangker123@gmail.com)

On Tue, Dec 30, 2014 at 3:20 AM, daniyal ahmed hangker123@gmail.com wrote:

[2014-12-30 11:27] drmatrix commented on #4
@takki62
nobody can share anything because they do not have knowledge for that , else like you say github it s place for open sources , i dont thing that anyone can do more then https://github.com/libimobiledevice/libimobiledevice
and this developper share that simply
for me php I metrise well, but the notion of cert is new to me

[2014-12-30 11:29] RabbitRevenge commented on #4
@kbulzo I did manage to generate automaticaly GUID but no bypass on idevice, just iTunes , maybe wrong certs. did you really success with 2 devices ?

[2014-12-30 11:31] RabbitRevenge commented on #4
@all just modify the deviceactivation.php file subsequently to obtain GUID

[2014-12-30 11:33] M-daniyal commented on #4
how did i place these file (libimobiledevice-master )?

[2014-12-30 11:34] jxosdev commented on #4
@RabbitRevenge thanks for the info, please can you share htdocs ? like some ppl here i'm new to certs notion. i wanna begin from the right htdocs content. jxosdev@gmail.com thanks

[2014-12-30 11:35] M-daniyal commented on #4
same here i need too.

[2014-12-30 11:38] RabbitRevenge commented on #4
Sorry I am on the phone right now. Httdocs are everywere, you must modify deviceactivation.php there are a lot of comments there , just play with it

[2014-12-30 11:39] nomad0711 commented on #4
@kbulzo  , would you please share the htdocs via email at nomad0711@yahoo.com

[2014-12-30 11:40] drmatrix commented on #4
@all
the isrv35  is here, can we be effective ? and talk about real code issues
https://github.com/Ink0gnit0/icloud-bypass-server

[2014-12-30 11:41] jxosdev commented on #4
ok, i'll use barney's httdoc and wait for @kbulzo to share more info.

[2014-12-30 12:06] M-daniyal commented on #4
but where did i place these file (libimobiledevice-master )?

[2014-12-30 12:16] Mika3l commented on #4
@M-daniyal  at your user dir and than config .... use terminal

[2014-12-30 12:23] kbulzo commented on #4
I'm at work do not have time to answer now who want to help send me htdocs for corrections
![img_0578](https://cloud.githubusercontent.com/assets/9167463/5578401/b42b7b62-900d-11e4-8d00-fdac4320e1ba.JPG)

[2014-12-30 12:32] willgabriel commented on #4
@kbulzo Good job bro!

[2014-12-30 12:32] Maaawww commented on #4
OMG people here sucks. Only post emails and ask about htdocs. First read, idiots. That htdocs are on m y i c l o u d . i n f o . BYPASS VIA ITUNES ITS IMPOSSIBLE!

[2014-12-30 12:34] Maaawww commented on #4
But its funny how one person ask about htdocs and then a thousand idiots do the same hahahaha.

[2014-12-30 12:39] kbulzo commented on #4
@Maaawww will show you how and hood

[2014-12-30 12:43] Maaawww commented on #4
@kbulzo I'm not saying that you didn`t bypass your iDevice. I'm saying that you didn't say that you bypassed your iDevice. (Hope you understand my bad english). By the way i have the same file and with Response Send! and nothing happens.

[2014-12-30 12:45] kbulzo commented on #4
missing link between hardware and software

[2014-12-30 13:00] drmatrix commented on #4
What link?
Le 30 déc. 2014 13:45, "kbulzo" notifications@github.com a écrit :

[2014-12-30 13:01] kbulzo commented on #4
lkbypass@gmail.com

[2014-12-30 13:01] Ganja47 commented on #4
getting this response sent message is no problem, GUID and all there, won't activate device though
![untitled](https://cloud.githubusercontent.com/assets/9613637/5578680/defed288-9023-11e4-8c83-486e51eabe4f.png)
isrv35, only modified for xampp

[2014-12-30 13:03] kbulzo commented on #4
only missing link between hardware and software to inject

[2014-12-30 13:10] Ganja47 commented on #4
same here, still not activate
![untitled](https://cloud.githubusercontent.com/assets/9613637/5578739/30fd5d9c-9025-11e4-987a-ad38243aaaf5.png)

[2014-12-30 13:27] florindmtr commented on #4
@kbulzo there is already software to inject, the missing part is the certs. Do you have valid deviceCA and private certs?

[2014-12-30 14:39] rainer2555 commented on #4
@magd_ttmtt: Maybe, my tool iCL0udin v1.0 release very very very soon, maybe hours..

[2014-12-30 14:39] rainer2555 commented on #4
:)

[2014-12-30 14:47] ghost commented on #4
May be hours, maybe years)) Each time one more "very")))

[2014-12-30 14:50] rainer2555 commented on #4
now it´s hours :D

[2014-12-30 15:08] AuraDhuha commented on #4
I'm not so sure, but I'll put my hope this time for the sake of Muslim brotherhood. InsyaAllah.

[2014-12-30 15:14] syarwo commented on #4
@AuraDhuha insyaAllah.....

[2014-12-30 15:18] AuraDhuha commented on #4
@syarwo : Lets make a du'a together. :D This time, or maybe this week, if I don't activate my iDevices, I'm going to sell 'em. Cheap from market.

[2014-12-30 15:27] syarwo commented on #4
insyaAllah aamiin
On Dec 30, 2014 10:19 PM, "AuraDhuha" notifications@github.com wrote:

[2014-12-30 15:28] ghost commented on #4
@AuraDhuha Don't be pessimist, lot of weeks are coming, and any of it could be "this week" and "very very very soon". MAYBE)))))))))

[2014-12-30 15:31] oncomangus commented on #4
hoorraaayyy aja dari pada gakkk hoorraayyyyy

[2014-12-30 15:32] AuraDhuha commented on #4
@oncomangus : Kalau hoooraayyy aja pak tapi tiadak jugak solusinya pun payah jugak tu sih. Huhuhuhuhu.

[2014-12-30 17:34] TTMTT commented on #4
## Ohh, i don't care about my haters ..

## i'm feeling good ^_^

[2014-12-30 17:36] nikosSid commented on #4
@TTMTT hey bro . on what does the release depend on?

[2014-12-30 17:36] M-daniyal commented on #4
assalam o alaikum .i need icloud bypass tools

[2014-12-30 17:38] BGpercival commented on #4
TTMTT wanna bet ? That you will not release in next 7 days  ? Or maybe in next 30 days ?

[2014-12-30 17:38] Sebashock commented on #4
@TTMTT friend would come out today?

[2014-12-30 17:39] BGpercival commented on #4
Guys just stop to pray him.He is just a lier nothing more !!!He got nothing ,just bag with lies !Sometimes i think that TTMTT and Varo are the same person !

[2014-12-30 17:43] willgabriel commented on #4
Say hello haters and bye!

[2014-12-30 17:44] BGpercival commented on #4
Hah,i`m not hater i just telling you the true ! If someone release something i will apologize !!!

[2014-12-30 17:45] willgabriel commented on #4
@BGpercival yes, also think, it does it in and out, wants to play.

[2014-12-30 17:48] Sebashock commented on #4
I really trust him to release the program, imagine where he lived before I think it was very difficult to be online now in a different place.
I hope he can keep his word

[2014-12-30 17:48] BGpercival commented on #4
He has made his tool to bypass icloud for few weeks :) Also say that Apple can`t never patch it :) He sent emails to the people for beta test but they receive nothing :)

[2014-12-30 17:52] Sebashock commented on #4
right but will have their reasons, now said he would leave the public for all hope that. have no reason to insult people

[2014-12-30 17:54] BGpercival commented on #4
YOu know that the wolf can change his skin but can`t change his nature !TTMTT nature is to lie and to give people fake promisess and hi like to play with hope of the people that looking for solution.
I have ask him to bet several times but he don`t want !!! Here it`is again i will give him 1000 $ if he release working tool in 7 days ! IF not i want to receie just 200 $ !!

[2014-12-30 17:56] M-daniyal commented on #4
just relax guys dnt fi8. u here and we r here let see whos ri8 we know TTMTT is right. dnt fi8 w8 and watch

[2014-12-30 18:19] BladiMar commented on #4
@TTMTT
بالله عليك يااخي مجد,اغثنا لقد طال الانتظار,ان كان لديك ما يحل مشكلتنا آتنا به ولو كان ذلك بالمقابل.وان كان ليس لك ما تفيدنا به,فابلغنا وجازك
                                                                                                                                                . الله خيرا عنا
      7a7580aa@opayq.com

[2014-12-30 19:00] florindmtr commented on #4
@TTMTT That's the spirit ;)
Even if you lie or tell the truth it's good to keep up the good mood.
Just do yourself a favor and don't give false hopes to these people as a "gift" for New Year.
Remember the Karma comes after each of us.

@all  **\* Happy New Year! ***

[2014-12-30 19:34] TTMTT commented on #4
@BGpercival

## wait .. i need time to calculate :

## Hmmm, he well give me $1000 .. ok Hmmm $300 for server and $200 for shopping .. and $150 !@^%$^%!$^$%@& .... ... etc

## Ohh great deal.. i accept that .. i will give you $1000 if i can't release my tool on 7 days..

## you must follow me in twitter for (iCL0udin news) .. i will release my tool befor 20 hours lol

[2014-12-30 19:39] Sebashock commented on #4
@TTMTT nice men i trust in you

saludos

[2014-12-30 19:43] TTMTT commented on #4
@BGpercival
you must be a man don't change your mind ok? the deal is deal..

[2014-12-30 19:54] albastrel commented on #4
@TTMTT Welcome! is done icl0udin ?

[2014-12-30 19:57] AuraDhuha commented on #4
@TTMTT : Alhamdulillah! I hope to hear good news on this week! Thanks bro!

[2014-12-30 19:59] BladiMar commented on #4
@TTMTT
لم ترد على سؤالي يا اخي مجد،هل فيه امل؟ ننتظر؟ البرنامج جاهز للاستعمال؟ وشكرا

[2014-12-30 20:01] Sebashock commented on #4
@BladiMar yes is ready to go, only need wait

[2014-12-30 20:03] crazy153 commented on #4
@TTMTT plz answer us ? when you will release your tool ? plllz ! from morocco !

[2014-12-30 20:06] AuraDhuha commented on #4
@crazy153 : Read up above https://github.com/badrsony/icloudin-support-/issues/4#issuecomment-68389078

[2014-12-30 20:07] BGpercival commented on #4
Okay just release it and give me paypal details
The tool have to work !!!

[2014-12-30 20:09] crazy153 commented on #4
@AuraDhuha i didn't see that ! thank's

[2014-12-30 20:16] Mika3l commented on #4
@BGpercival here is a place for ppl which develop and making experiments with code .... most of our community are from ppl with engineering mind we can create hardware and software and you are fuckin bulgarian leecher дребен тарикат who wants to make some money ....... fuck you

[2014-12-30 20:22] BGpercival commented on #4
So how i want to make money i want to give them :)

[2014-12-30 20:33] AuraDhuha commented on #4
@crazy153 : No problem bro, as long as I can contribute a little help, I want to help the community. :)

[2014-12-30 20:41] TTMTT commented on #4
@SoolMed
Thanks bro.. i'm very happy.. and fine ..
now i'm in turkey.. i love this country..

[2014-12-30 20:46] Ganja47 commented on #4
@SoolMed thx, need EV certs, that's what i thought, just got excited
@TTMTT welcome back, keep going :-)

[2014-12-30 20:51] SoolMed commented on #4
@Ttmtt nice to hear from you and hope you enjoy the place Turkey is a wonderful country and you are lucky done it before sealing ports; )
@Ganja47 no prob man

[2014-12-30 20:52] AuraDhuha commented on #4
@Ganja47 : Fail apa tu bro? Bisak ato tdak untuk berkongsie bro? Terima kasih.

[2014-12-30 20:55] Ganja47 commented on #4
@AuraDhuha sorry, i speak english or german only
@SoolMed which certs are needed exactly, can you list them ?

[2014-12-30 20:56] AuraDhuha commented on #4
@SoolMed : A noob like me doesn't even know what is EV certs. Could you explain to me further more? Maybe you might be sharing the files to me? Or all of us in here? Thanks! :)

@Ganja47 : Ahh, I see. It's okay bro. :)

[2014-12-30 20:56] Ganja47 commented on #4
@AuraDhuha Extended Validation certs, the ones we've been dealing with all aren't

[2014-12-30 20:58] Ganja47 commented on #4
@SoolMed so iPhoneDeviceCA.crt and serverCASigned.crt or any more?

[2014-12-30 21:09] Ganja47 commented on #4
@SoolMed fair enough

[2014-12-30 21:18] Ganja47 commented on #4
@SoolMed what about this server cert?
https://github.com/chiptuneXT/DoulCi-server2/blob/master/deviceservices/certs/generator/albert.apple.com/real_apple/albert.apple.com.cer

[2014-12-30 21:50] florindmtr commented on #4
You can find the certs in an activated and jailbreaked device

[2014-12-30 21:51] florindmtr commented on #4
Also the private is there

[2014-12-30 21:51] florindmtr commented on #4
How else could the device decrypt the activation data?

[2014-12-30 21:54] florindmtr commented on #4
got email?

[2014-12-30 21:58] Ganja47 commented on #4
@SoolMed
-----BEGIN CERTIFICATE-----
MIIG2TCCBcGgAwIBAgIQHsWziRKZwM9oVd1nfPSo1zANBgkqhkiG9w0BAQUFADCB
vjELMAkGA1UEBhMCVVMxFzAVBgNVBAoTDlZlcmlTaWduLCBJbmMuMR8wHQYDVQQL
ExZWZXJpU2lnbiBUcnVzdCBOZXR3b3JrMTswOQYDVQQLEzJUZXJtcyBvZiB1c2Ug
YXQgaHR0cHM6Ly93d3cudmVyaXNpZ24uY29tL3JwYSAoYykwNjE4MDYGA1UEAxMv
VmVyaVNpZ24gQ2xhc3MgMyBFeHRlbmRlZCBWYWxpZGF0aW9uIFNTTCBTR0MgQ0Ew
HhcNMTQwNDA3MDAwMDAwWhcNMTYwNDA2MjM1OT

[2014-12-30 22:00] SoolMed commented on #4
@Ganja47 I know you don't have the priv muching that cert !
https://www.sslshopper.com/certificate-key-matcher.html

[2014-12-30 22:32] Ganja47 commented on #4
thats the problem

[2014-12-30 22:35] drmatrix commented on #4
@SoolMed
try this

 -----BEGIN CERTIFICATE-----
MIIC8jCCAlugAwIBAgIJVOnqaEl9OcfTMA0GCSqGSIb3DQEBBQUAMFoxCzAJ
        BgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMRUwEwYDVQQLEwxBcHBs
        ZSBpUGhvbmUxHzAdBgNVBAMTFkFwcGxlIGlQaG9uZSBEZXZpY2UgQ0EwHhcN
        MTQwOTI3MTU0NDM4WhcNMTcwOTI3MTU0NDM4WjCBgzEtMCsGA1UEAxYkQTU0
        RjMxNDMtRTNEQi00MzdBLUE0OUQtRjdEQTc0MkM2MjY5MQswCQYDVQQGEwJV
        UzELMAk

[2014-12-30 22:37] drmatrix commented on #4
its dumped  cert and key from keychain

[2014-12-30 22:54] drmatrix commented on #4
@SoolMed
thanks bro , i know and im trying to find it 6 mounth a go :)

[2014-12-30 22:59] Ganja47 commented on #4
@SoolMed what about this
http://www.vkernel.ro/blog/issuing-extended-validation-ev-certificates-from-an-internal-windows-ca

[2014-12-30 23:12] teddy81 commented on #4
What about if any of registered developers can get tha correct private key?

[2014-12-30 23:13] Ganja47 commented on #4
@SoolMed seen that too, too stoned to install servers tonight
@teddy81 no developer has access to albert server private key

[2014-12-30 23:44] drmatrix commented on #4
@SoolMed
@Ganja47
what about if the cert could be in apache level ??
http://httpd.apache.org/docs/2.4/ssl/ssl_howto.html

[2014-12-30 23:55] drmatrix commented on #4
@SoolMed
it s no way to sniff that from the original one ?

[2014-12-31 00:04] alejandrofcarrera commented on #4
For fast testing, i recommend you Vagrant with generated LAMP Box and SSL activated.

[Vagrant Generator](https://puphpet.com)

[SSL Options](https://puphpet.com/#webserver)

[2014-12-31 05:30] BenjiBth commented on #4
did the tools release yet ?

[2014-12-31 06:57] penguinunix commented on #4
the tools will not be released, TTMTT is  a perfect liar and like to tease people, giving false hope, so better make discussion to make somthin other than asking for tools

[2014-12-31 07:22] djzveruga commented on #4
@penguinunix thanks for christmas mood, asshole

[2014-12-31 07:34] penguinunix commented on #4
@djzveruga i dont do christmas, do it on your own asshole, dickhole :)

[2014-12-31 09:20] ghost commented on #4
So many warm wishes)))

[2014-12-31 10:25] Ganja47 commented on #4
everyone calm down, merry xmas, happy new year, lets try and work on a solution
@all still looking for any kind of documentation regarding DDI image and ServiceAgents

[2014-12-31 10:48] rawon-tuyul commented on #4
HAPPY NEW YEAR ALL ... :) TIME TO HAVE FUN.... FUCK ALL ABOUT ICLOUD BYPASS AND FUCK THE PROMISES... ENJOY!!!

[2014-12-31 10:51] penguinunix commented on #4
@fuk-icloud-lock yeah, agree, rather than waiting stupid promises from SOMEpsychoAppleBypassFreak, happy new year to all, i'm going to order icloud bypass which is proven on someone rather than wait.

may you all have the best year on 2015 and have a solution on your all locked idevices :+1:

[2014-12-31 10:52] rawon-tuyul commented on #4
FUCK TTMTT PROMISE,FUCK DOULCI PROMISES, FUCK PEARS TEAM PROMISES,FUCK OTHERS PROMISE.. FUCK ICLOUD LOCK,FUCK APPLE PRODUCT... OPEN YOUR MIND OPEN UR EYES THIS TIME TO THE NEW HOPE...... :):):):)

[2014-12-31 11:02] syarwo commented on #4
end of patience is when the problem is resolved

[2014-12-31 12:29] troop3r-br commented on #4
"wait .. i need time to calculate :"
"you must follow me in twitter for (iCL0udin news) .. i will release my tool befor 20 hours lol"

[2014-12-31 12:58] rainer2555 commented on #4
Within 5 hours now:)

[2014-12-31 12:58] Ganja47 commented on #4
Magd Almuntaser @magd_ttmtt  ·  29 mins 29 minutes ago

Good news, i will release my tool (iCL0udin v1.0) today.. HAPPY NEW YEAR

[2014-12-31 13:52] zokafleka commented on #4
@ TTMTT you make me sitting in front and waiting for the tool, instead waiting new year

[2014-12-31 14:40] troop3r-br commented on #4
tmtt released his tool on icloudin.net

[2014-12-31 14:46] willgabriel commented on #4
no work for me ! error server overload

[2014-12-31 14:46] gsmnouri commented on #4
yes not working !!

[2014-12-31 14:47] troop3r-br commented on #4
SHIT OF THE YEAR HAHAHAHAHA
sorry guys

[2014-12-31 14:47] albanodesign commented on #4
o shit server overload

On Wed, Dec 31, 2014 at 6:40 AM, troop3r-br notifications@github.com
wrote:

[2014-12-31 14:48] gsmnouri commented on #4
there is no bypass fuck

[2014-12-31 14:49] troop3r-br commented on #4
http://api.liioiil.com/v10/getip/

[2014-12-31 14:53] willgabriel commented on #4
hmmmm entendi

[2014-12-31 14:54] gsmnouri commented on #4
server down  any one bypass ?

[2014-12-31 14:55] willgabriel commented on #4
no works maybe fake server

[2014-12-31 14:55] Maaawww commented on #4
i read all the mentions on ttmmtt twitter's profile and all the people have the same issue. No one can bypass.

[2014-12-31 14:56] troop3r-br commented on #4
ICLOUDIN IS FAKE GUYS, DON'T WASTE YOUR TIME!

[2014-12-31 14:57] gsmnouri commented on #4
yes big fake   11,096 device and no proof o.0

[2014-12-31 14:57] albanodesign commented on #4
server now is down maybe he is fixing it

On Wed, Dec 31, 2014 at 6:55 AM, Maaawww notifications@github.com wrote:

[2014-12-31 14:59] Maaawww commented on #4
we'll see if it's fake or not. But it isn't a virus 4 sure.

[2014-12-31 15:02] willgabriel commented on #4
is fake!
![erro](https://cloud.githubusercontent.com/assets/8890867/5588331/8e496bb4-90dc-11e4-8f07-496d72284dc6.JPG)

[2014-12-31 15:05] Maaawww commented on #4
i'm not saying its fake but i think that because isnt recognize mi idevice. I can click the unlock buttom if its no connected. And when i plug my iphone 5 the app don't say its an iphone 5 so...

[2014-12-31 15:07] rainer2555 commented on #4
my saying iphone 6,2 (7.1.2 )

[2014-12-31 15:08] rainer2555 commented on #4
i have iphone 5s

[2014-12-31 15:10] oncomangus commented on #4
![2014-12-31 22_09_37-icloudin support issue 4 badrsony_icloudin-support-](https://cloud.githubusercontent.com/assets/8903402/5588363/c41e3d20-9139-11e4-9664-203b155e4a5e.png)

[2014-12-31 15:12] Maaawww commented on #4
Mine not. What can we do with MobileDevice.dll ?
![1111](https://cloud.githubusercontent.com/assets/7947166/5588383/d9efb1c4-9107-11e4-9cc4-1562328daca0.png)

[2014-12-31 15:14] well0nez commented on #4
IT did'nt work for me :(

Now the tool doesnt open again.
Its crashing before it starts. Strange Strange...

[2014-12-31 15:14] rainer2555 commented on #4
i think icloudin.net counter is counting downloads not bypasses ?

[2014-12-31 15:17] willgabriel commented on #4
yes, or maybe fake count

[2014-12-31 15:18] Maaawww commented on #4
How can i restore my iphone without installing iOS 8.2? DFU mode?

[2014-12-31 15:18] alejandrofcarrera commented on #4
Seems clean both files:
MobileDevice.dll: [Virustotal analysis](https://www.virustotal.com/es/file/1a32c9da8a0f2b3eb3b122451f24c6b91f167239fe0fdf75b3c8a252b3102b6e/analysis/1420039000/)
iCL0udin_v1.0.exe: [Virustotal analysis](https://www.virustotal.com/es/file/de86b2d0e8eb6f4aa0daf040a4271b39647752c448def1551080a7b5871dbc22/analysis/1420039016/)

[2014-12-31 15:19] willgabriel commented on #4
@Maaawww no way! no work

[2014-12-31 15:19] willgabriel commented on #4
yes but seems with fiddler

[2014-12-31 15:20] willgabriel commented on #4
the click does not get you anywhere just to answer

[2014-12-31 15:20] alejandrofcarrera commented on #4
I suppose that we need replace MobileDevice.dll at C:\Program Files (x86)\Common Files\Apple\Mobile Device Support for him no?¿

[2014-12-31 15:21] Maaawww commented on #4
@willgabriel my iphone was bypassed with doulci server and then i updated to ios 8.1 and it was locked again... thats why i think icloudin didnt recognized my idevice... its semi bypassed or something

[2014-12-31 15:22] willgabriel commented on #4
@alejandrofcarrera no work bro!

[2014-12-31 15:23] willgabriel commented on #4
@Maaawww hmmm i dont know

[2014-12-31 15:32] g454ly commented on #4
please reupload icloudin tool

[2014-12-31 15:33] alejandrofcarrera commented on #4
@all It is works!... i do not understand the way, but i opened iCl0udin and exit while iTunes restored iDevice at DFU mode... I inserted the sim card for activation and i choosed iTunes options at iDevice. After that i unplug and plug the usb cable and voila! Your iPhone is unlocked appeared at iTunes and "Activate Location Service page" appeared on my iDevice.

[2014-12-31 15:35] g454ly commented on #4
@oncomangus bro km dpt ngga tool nya bagi donk

[2014-12-31 15:36] willgabriel commented on #4
@alejandrofcarrera proof please

[2014-12-31 15:39] nashwanoz commented on #4
منو فتح جهاز واحد ببرنامج مجد المنتصر ؟

[2014-12-31 15:42] rainer2555 commented on #4
@alejandrofcarrera what iphone and ios ?

[2014-12-31 15:44] BladiMar commented on #4
:( لم تنجح العملية معي

[2014-12-31 15:44] willgabriel commented on #4
@alejandrofcarrera use host file or no?

[2014-12-31 15:48] Fafaiya commented on #4
@alejandrofcarrera : share the link for icloudin, please

[2014-12-31 15:49] willgabriel commented on #4
http://www.icloudin.net/download/iCL0udin_icloud_bypass_v1.0.zip

[2014-12-31 15:51] Fafaiya commented on #4
@willgabriel : can't download ... do you have alternative link ?

[2014-12-31 15:52] willgabriel commented on #4
https://mega.co.nz/#!kIhDWBZA!uUDRZ_cq4YEaBiQSopK05ljHdtquVxsBtMWqO4CP3U0

[2014-12-31 15:52] rainer2555 commented on #4
why it´s working

[2014-12-31 15:52] alejandrofcarrera commented on #4
iPhone 5S, iOS 8.1.2 (update and restore at DFU mode)

[2014-12-31 15:53] alejandrofcarrera commented on #4
No hosts file, clean hosts

[2014-12-31 15:55] leithalyeye commented on #4
@alejandrofcarrera how did you get connected to icloudin if the server is offline? maybe your iphone was taken off icloud by the original owner today? lucky timing?

[2014-12-31 15:55] willgabriel commented on #4
proof?

[2014-12-31 15:57] alejandrofcarrera commented on #4
I did not click any button at iCl0udin, only open while itunes was restoring this iDevice and exit after that, iTunes show me an alert with information about sim card is not installed, so i plug the sim card and iTunes was showing this information again. I unplug and plug the iDevice at "Connect to iTunes" page and Voila!

[2014-12-31 15:58] willgabriel commented on #4
then your device was not locked

[2014-12-31 15:58] troop3r-br commented on #4
surely

[2014-12-31 15:58] alejandrofcarrera commented on #4
Yeah, it was locked and erased from iCloud

[2014-12-31 15:58] oncomangus commented on #4
@alejandrofcarrera show it your deviced....?

[2014-12-31 16:00] alejandrofcarrera commented on #4
Proof: http://postimg.org/image/kmo6etfht/

[2014-12-31 16:01] willgabriel commented on #4
no carrier?

[2014-12-31 16:02] alejandrofcarrera commented on #4
This device is mine, so i am sure about this device was not unlocked... Carrier it is works, but i unplugged the sim card and it is at plane mode

[2014-12-31 16:03] alejandrofcarrera commented on #4
I will try with my iPad mini and i will write about it. I hope that helps someone.

[2014-12-31 16:04] rainer2555 commented on #4
@alejandrofcarrera to a little tutorial too then :D

[2014-12-31 16:15] john403 commented on #4
@alejandrofcarrera when u restore in DFU mode, are U using file IPSW or update from server bro??

[2014-12-31 16:16] alejandrofcarrera commented on #4
In DFU mode, i used "Restore" button and "Restore and update". So it was from apple server.

[2014-12-31 16:16] willgabriel commented on #4
@alejandrofcarrera work with another device?

[2014-12-31 16:17] alejandrofcarrera commented on #4
I am restoring my iPad mini right now at 8.1.2 in lost mode and erased from iCloud mode.

Cross my fingers :)

[2014-12-31 16:18] john403 commented on #4
OMG, I'm trying Restore n Update from apple server, need 4-5 hour.. -_-
btw, thanks bro @alejandrofcarrera for inpo

[2014-12-31 16:28] alejandrofcarrera commented on #4
Ok... same history, I put my iDevice (iPad mini at 8.1.1) in lost and erased mode from iCloud with my account. My iPad Mini was erased alone when it connected to my WiFi. After reboot and show my message with "Call me...", i put it at DFU mode and use "Restore iPad" and "Restore and update"...

So, when the iTunes (11.4.0.18, Windows 8.1) reboot the iPad and extracted the iPSW, i opened iCl0udin a

[2014-12-31 16:30] nikosSid commented on #4
so any1 else can try it? my internet is slow to download and restore a new firmware

[2014-12-31 16:31] wvirk commented on #4
You had signed in your apple store on your iTunes right? If then it's just update and restore not lost and bypassed.

Sent from my iPhone

[2014-12-31 16:33] alejandrofcarrera commented on #4
Nope, i have not been signed at iTunes Store or any account relationated with my iTunes.
I unnistalled all applications about Apple due to this investment.

I do not know if iTunes can see the browser cookies with iCloud credentials :S

[2014-12-31 16:34] willgabriel commented on #4
I'm testing now

[2014-12-31 16:34] gsmnouri commented on #4
@alejandrofcarrera  can put the ipsw in directory itunes iphone software update ?

[2014-12-31 16:34] oncomangus commented on #4
@alejandrofcarrera good story in last year......

[2014-12-31 16:35] wvirk commented on #4
It can. Also if you ever sync'ed your iPad or iphone with this pc it's already unlocked with this pc.

Sent from my iPhone

[2014-12-31 16:35] alejandrofcarrera commented on #4
If you want i record it for you. I do not know the reason for it is works, but it is not false

[2014-12-31 16:36] alejandrofcarrera commented on #4
@wvirk i will try it about you say. Thanks for the tip.

[2014-12-31 16:39] rainer2555 commented on #4
try with another pc

[2014-12-31 16:40] willgabriel commented on #4
no work for me :(

[2014-12-31 16:40] leithalyeye commented on #4
it works because its a local ipad/iphone so itunes knows it... i did it with mine, itunes recognises the device from a previous state and just unlocks it... like back at ios 4 when you had to connect to itunes to unlock if your passcode was wrong too many times, it's device association isnt it? that's my theory of why it works...

[2014-12-31 16:40] alejandrofcarrera commented on #4
Yeap, i am erasing again from lost and restored mode from iCloud panel

[2014-12-31 16:41] alejandrofcarrera commented on #4
@leithalyeye It is true that my iPad was vinculated with the computer, but not my iPhone... it is strange.
I will try at another pc with Windows 7.

[2014-12-31 16:42] willgabriel commented on #4
ok, but for me no work

[2014-12-31 16:42] ccpdx commented on #4
@alejandrofcarrera Don't use iCloud erase(if you use this it will disable find my iphone(i tried it)). Enable Find My iPhone then put device in DFU mode and restore. That will lock it to your iCloud after that you can try what you did before.

[2014-12-31 16:42] leithalyeye commented on #4
EDIT: i was using my own iphone, not the one i bought from ebay. my itunes knows my iphone and itunes is signed in to the same itunes account as the phone is locked to, so it just bypasses the lock.

@alejandrofcarrera make sure to sign out of itunes too when you try this time

[2014-12-31 16:45] well0nez commented on #4
i have strange problem.
as i first started icloudin it got open.
it was not working but it started.

now if i'm starting the program it dissapears from task manager and i have no gui.
So program is not starting anymore.

do somehone have the same problem?

[2014-12-31 16:45] alejandrofcarrera commented on #4
@ccpdx @leithalyeye Ok both, another pc without iTunes and DFU + iCloud (Find my iPhone activated), there i go

[2014-12-31 16:47] ccpdx commented on #4
@alejandrofcarrera Just don't do a iCloud erase as that will unlink it :p

[2014-12-31 16:48] leithalyeye commented on #4
@TTMTT how long until the server is back online?

[2014-12-31 16:48] alejandrofcarrera commented on #4
@ccpdx yeap, only i will activate iCloud with Find My iPhone on the iDevice and dfu.

[2014-12-31 16:59] willgabriel commented on #4
no work for me

[2014-12-31 17:00] HERO4903 commented on #4
willgabriel te aseguraste que icloudin reconocio tu dispositivo

[2014-12-31 17:01] willgabriel commented on #4
si claro mas no funciona

[2014-12-31 17:01] HERO4903 commented on #4
ok gracias esperemos entonces a que suban el servidor creo que si funciona el programa

[2014-12-31 17:02] albastrel commented on #4
server offline!

[2014-12-31 17:11] willgabriel commented on #4
![erro](https://cloud.githubusercontent.com/assets/8890867/5589158/89e9a1ee-90ee-11e4-9d56-7b608d575ea6.JPG)

[2014-12-31 17:14] alejandrofcarrera commented on #4
In another computer, iTunes do not bypass my iPad mini, sorry for the hope. Without Sign in, with or without lost and erased mode and some iDevice, i thought that it is works... We will wait for the server and try it. Good night for everyone.

[2014-12-31 17:15] willgabriel commented on #4
lol ok

[2014-12-31 17:17] TTMTT commented on #4
@willgabriel
yes this is my api (get ip server to program)
if i close the server my tool is stop.. if my server have overload my api send note to my tool ..
and thank u .. now apple know how my tool works..

and congr to everyone bypassed icloud

[2014-12-31 17:18] leithalyeye commented on #4
@ttmtt keep it going until its patched pleeease

[2014-12-31 17:18] gsmnouri commented on #4
لا اعتقد ان احد تخطى الايكلود

[2014-12-31 17:18] djzveruga commented on #4
@TTMTT will we get bypass today???

[2014-12-31 17:18] willgabriel commented on #4
@TTMTT ok, no one said he made, sorry

[2014-12-31 17:18] Ganja47 commented on #4
@TTMTT will you be rolling again ?

[2014-12-31 17:23] TTMTT commented on #4
@willgabriel
don't worry.. i have many api for the server lol..
maybe apple will know this exploit after 1 month (i hope)

[2014-12-31 17:23] willgabriel commented on #4
ok, but for us no work :(

[2014-12-31 17:24] wvirk commented on #4
Will we be able to do it in 2 hours. I have to go to work

Sent from my iPhone

[2014-12-31 17:24] nikosSid commented on #4
@TTMTT bro, how much time u think u need? please dont keep us sitting in front of a computer..

[2014-12-31 17:26] john403 commented on #4
@TTMTT  why not give US 2nd change???
just 2 minutes from now ,, open ur server in 2015 bro

[2014-12-31 17:26] bebers02 commented on #4
أخي مجد هل قمت بحل مشكل سرفر

[2014-12-31 17:26] TTMTT commented on #4
@willgabriel
becoz my server now is offline.. my server have overload .. and the connection is limit..
the server (4 core and 4GB ram) i sent msg to datacenter for upgrade my server to (8 core and 8GB ram) i hope that is ok .. and i search how can i change the limit connection to unlimited

[2014-12-31 17:27] djzveruga commented on #4
can we bypass today?

[2014-12-31 17:28] TTMTT commented on #4
@john403
i need that.. but the datacenter said ur server have overload we will close ur server if the overload is still

[2014-12-31 17:28] Yafi3i commented on #4
@TTMTT Magd not even ONE! person have confirmed that they have bypassed....

[2014-12-31 17:29] TTMTT commented on #4
@djzveruga
i do my best for that.. and i'm waiting msg from datacenter..

[2014-12-31 17:29] Yafi3i commented on #4
@TTMTT no pictures, no proof, no nothing

[2014-12-31 17:30] bebers02 commented on #4
وهل يستغرق هذا مدة

[2014-12-31 17:31] well0nez commented on #4
@TTMTT i have a problem:  server down or not  does not matter.
when i open icloudin it closes fast!
i see no gui, whats wrong?

[2014-12-31 17:31] TTMTT commented on #4
@Yafi3i
you mean 11,000 idevices is fake? or joke?? oh my god.. i don't know how can i help this people.. need proofs need bypass need .....etc
i just leave this discuss and go to my work with the f!#$$! server ..

[2014-12-31 17:31] ccpdx commented on #4
@TTMTT Check your email it's connection related

[2014-12-31 17:31] willgabriel commented on #4
early when you released at the exact moment I tried and appeared the same answer of server overload, it is impossible, sorry

[2014-12-31 17:32] willgabriel commented on #4
something went wrong

[2014-12-31 17:32] well0nez commented on #4
@TTMTT  when you need another server, write me, we can do it together

[2014-12-31 17:32] djzveruga commented on #4
@TTMTT why you can't share server files?

[2014-12-31 17:33] willgabriel commented on #4
share and finish this

[2014-12-31 17:33] BladiMar commented on #4
@TTMTT
لمذا لم تجعل البرنامج يعمل افلاين بدون السرفر يا اخي مجد؟ الطريقة التي يعمل بها برنامجك ستعاني كثير من المشاكل التي تلقاها كذلك فريق دولسي من قبلك.واعتذر عن هذه الملاحضة

[2014-12-31 17:34] TTMTT commented on #4
@djzveruga
share server files ????? becoz apple close my exploit after 5 min ??
oh sorry i can't bro..

[2014-12-31 17:34] TTMTT commented on #4
@BladiMar
لان سيرفر يجب ان يكون مرتبط بسيرفر لا يهم شخصي او سيرفر بالخارج .. فهو نفس طريقة دولسي ولكن بإستخدام ثغرة ابل بالطريقة الاولى
فلا استطيع ان اضعها داخل البرنامج

[2014-12-31 17:35] rawon-tuyul commented on #4
broken again :)

[2014-12-31 17:38] rawon-tuyul commented on #4
hahaahaha.... sell ur illegal idevice.. buy new idevice...don't thinked about icloud bypass,because, ... FUCK!!!

[2014-12-31 17:39] BladiMar commented on #4
@TTMTT
وفقك الله في عملك يا اخي، و حقق لك ما تتمناه،و رزقك صبرا في مسيرتك هذه،آمين

[2014-12-31 17:46] BGpercival commented on #4
So still nothing ?

[2014-12-31 17:47] syarwo commented on #4
@all let him repaire server @ttmtt i trust you

[2014-12-31 17:47] BGpercival commented on #4
11k unlocked devices and no one confirm that it works :)

[2014-12-31 17:48] wvirk commented on #4
A couple confirmed on twitter

Sent from my iPhone

[2014-12-31 17:50] BGpercival commented on #4
couple ? IT`s nothing from 11k !!!

[2014-12-31 17:56] HERO4903 commented on #4
ALL para mi TTMTT nunca ha mentido hasta ahora todo lo que ha dicho lo ha cumplido nunca dio fechas para lanzar herramienta nunca dio horas hasta ayer y lo cumplio para mi es obvio que su servidor esta caido sin embargo doulci y gagdewate estan llenos de falsas promesas y siguen creyendo en ellos que ironico por que no le dan el beneficio de la duda si quiera se lo ha ganado y con creces yo ayer l

[2014-12-31 18:54] MohammedNawar commented on #4
@TTMTT  نحن نثق فيك اخي مجد :)

[2014-12-31 19:15] ghost commented on #4
if anyone bypasses with icloudin please post here.
@all Happy new year!

[2014-12-31 19:41] Nad4 commented on #4
@TTMTT how we must use the software, just open icloudin thats it? nothing more? the host file its not important or itunes ? please give us some information about , i know you are too busy about server issues tks @all Happy new year!

[2014-12-31 19:42] g454ly commented on #4
@TTMTT Back to zero

[2014-12-31 20:09] MohammedNawar commented on #4
overload

[2014-12-31 20:10] MohammedNawar commented on #4
access denied to hosts file

[2014-12-31 20:10] rainer2555 commented on #4
it opend itunes and then error

[2014-12-31 20:12] willgabriel commented on #4
server overload, could not complete Itunes store request, me too

[2014-12-31 20:13] MohammedNawar commented on #4
16,958 bypassed

[2014-12-31 20:14] willgabriel commented on #4
yes. :(

[2014-12-31 20:15] albanodesign commented on #4
for me it was couldnt acces itunes store host problem i guess

On Wed, Dec 31, 2014 at 12:13 PM, MohammedNawar notifications@github.com
wrote:

[2014-12-31 20:16] Ganja47 commented on #4
don't think itunes would be needed for process, if itunes can't connect clear hosts file

[2014-12-31 20:22] willgabriel commented on #4
stop ip here please, respect

[2014-12-31 20:23] rainer2555 commented on #4
ok

[2014-12-31 20:23] MohammedNawar commented on #4
@willgabriel dont worry anyone can get that lol

[2014-12-31 20:23] willgabriel commented on #4
respect for him

[2014-12-31 20:26] HERO4903 commented on #4
es obvio que si funciona tengamos paciencia

[2014-12-31 20:27] HERO4903 commented on #4
en twiteer hay quienes ponen que estuvieron a punto de activarlo la sobrecarga no se los permitio asi que seamos pacientes

[2014-12-31 20:29] willgabriel commented on #4
reached the point close to activate and gave error

[2014-12-31 20:30] devyahya commented on #4
@TTMTT waiting bro only iphone 5s pllz

[2014-12-31 20:38] HERO4903 commented on #4
a mi me dejo trabado el itunes

[2014-12-31 20:40] willgabriel commented on #4
@Crockom i go prepare servers! on twitter

[2014-12-31 21:51] BGpercival commented on #4
17k unlocked devices :) Still no one from here or twitter confirm :) How they know about icloudin then ?

[2014-12-31 23:14] BGpercival commented on #4
BTW HAppy NeW Year !!!

[2014-12-31 23:14] willgabriel commented on #4
Happy new year guys

[2014-12-31 23:20] Ganja47 commented on #4
@all happy new year

[2014-12-31 23:22] MohammedNawar commented on #4
happy new year .. full of icloud successful bypassers :smiley:

[2014-12-31 23:54] BladiMar commented on #4
@all Happy New Year

[2014-12-31 23:58] badrsony opened #8 "icloudin support"
Originally written by @TTMTT. That we hope for him safery and peace
.

Wow, ipod touch 5G (8.1) - iCL0udin v1.0 bypass activation (icloud)

http://youtu.be/tZmEdlDGNu4

iCL0udin v1.0 bypass activation (icloud) - ipad mini 2G (7.1.1)

http://youtu.be/tevYyBN2QCQ

Video for bypass icloud (iCL0udin v1.0) for iphone 4 CDMA ..

http://youtu.be/i85-D6N2YLk

New video for iCL0udin v1.0 bypass icloud (3 i

[2015-01-01 00:00] badrsony commented on #4
happy new year and best wishes
https://github.com/badrsony/icloudin-support-/issues/8

[2015-01-01 00:00] #4 closed, assigned to nobody

[2015-01-01 00:01] badrsony commented on #8
www.icloudin.net

[2015-01-01 00:02] nashwanoz commented on #8
@badrsony  welcome
happy new year

[2015-01-01 00:07] SoolMed commented on #4
@all Happy New Year
@arabكل عام وانتم بخير

[2015-01-01 00:08] SoolMed commented on #8
@all Happy New Year
@arabكل عام وانتم بخير

[2015-01-01 00:19] willgabriel commented on #8
happy new year

[2015-01-01 00:28] nomad0711 commented on #8
Happy New Year to @all

[2015-01-01 00:28] lblxh3 commented on #8
happy new year：）

[2015-01-01 00:42] fpdewangga commented on #8
Bismillah

[2015-01-01 00:52] Assasin0 commented on #8
@all Happy New Year :-)

[2015-01-01 01:01] oncomangus commented on #4
@All HAPPY NEW ICLOUD YEAR #cheers #coffee

[2015-01-01 01:04] TTMTT commented on #8
@badrsony

## excuse me i open a new discuss for (iCL0udin v1.0):

## https://github.com/TTMTT/iCL0udin/issues/1

[2015-01-01 01:05] TTMTT commented on #4
@badrsony

## excuse me i open a new discuss for (iCL0udin v1.0):

## https://github.com/TTMTT/iCL0udin/issues/1

[2015-01-01 01:08] #8 closed, assigned to nobody

[2015-01-02 09:00] mystic2eyes commented on #4
@TTMTT waiting bro only iphone 5s plz man....!!!

[2015-01-02 17:41] the2009obe commented on #8
اخي مجد هل ننتظر عودة السيرفر اليوم او لا

[2015-03-31 17:07] badrsony opened #9 "ALL REAL BYPASS"
sorry to be so late there is four real ways  to bypass icloud
no donations no money for free

[2015-03-31 17:08] wvirk commented on #9
Plz share

[2015-03-31 17:10] sniperegy commented on #9
مرحبا بك بدر

[2015-03-31 17:10] badrsony commented on #9
thank you sniperegy

[2015-03-31 17:16] slav4o commented on #9
(y)

[2015-03-31 17:16] badrsony commented on #9
1- Kali linux by hacking apple server using metasploit framwork
2- Visual basic program that simulate albert.apple on localhost
3- Anypoint studio : real icloud server base
4- ????????????????????

[2015-03-31 17:17] sniperegy commented on #9
@badrsony  you test that

[2015-03-31 17:18] badrsony commented on #9
all this methods are real and tested no more fake and  video

[2015-03-31 17:19] sniperegy commented on #9
@badrsony  ok

[2015-03-31 17:20] sniperegy commented on #9
@badrsony  this frist step 1- Kali linux by hacking apple server using metasploit framwork

[2015-03-31 17:25] sniperegy commented on #9
اولا شكرا ليك اخى بدر لمشاركه الثانيه لك لحل الايكلود
والان راح احمل نسخه كالي لينوكس وراح نتابع سوا

[2015-03-31 18:38] Faroukd0t commented on #9
tiens tiens, un revenant :p welcome back Badr

[2015-03-31 18:52] sniperegy commented on #9
welcome @Faroukd0t

[2015-03-31 20:27] ghost commented on #9
so, let's share with us

[2015-03-31 21:25] willgabriel commented on #9
Welcome, is serious? hahahaha share with old friends.

[2015-03-31 21:52] sniperegy commented on #9
Welcome old friends

[2015-03-31 21:53] sniperegy commented on #9
Download kali linux and install

[2015-04-01 00:13] badrsony commented on #9
first get icloud server ipaddress

[2015-04-01 01:02] ghost commented on #9
HMmmmmmmm

[2015-04-01 01:09] sniperegy commented on #9
23.45.86.46

[2015-04-01 01:54] sniperegy commented on #9
17.110.244.84

[2015-04-01 01:57] BladiMar commented on #9
salamo alikom brothers,
welcome back badr, any news bro?

[2015-04-01 06:05] syarwo commented on #9
@sniperegy DNS?

[2015-04-01 06:07] syarwo commented on #9
@badrsony can you share your methods?

[2015-04-01 10:40] takki62 commented on #9
@badrsony  any good news Bro

[2015-04-01 14:58] Bilalqadeer commented on #9
Any real bypass or service?

[2015-04-01 15:34] badrsony commented on #9
sniperegy this is not the real icloud ip server it's the virtual  you need the real one ,
you can get it by reverse proxy

[2015-04-01 15:36] HERO4903 commented on #9
welcome to all

[2015-04-01 15:38] Bilalqadeer commented on #9
badrsony you are the owner?

[2015-04-01 15:50] badrsony commented on #9
the owner of what???

[2015-04-01 15:51] sniperegy commented on #9
ok badrsony

[2015-04-01 15:54] Bilalqadeer commented on #9
owner of github? or for which showing owner?
Can We Talk?

[2015-04-01 15:56] badrsony commented on #9
about what ?

[2015-04-01 15:58] Bilalqadeer commented on #9
your email plz or anyother way to contact

[2015-04-01 16:00] badrsony commented on #9
badr@electrolec.tk

[2015-04-01 16:03] badrsony commented on #9
hi

[2015-04-01 16:04] badrsony commented on #9
https://www.robtex.net/en/advisory/ip/17/110/244/84/

[2015-04-01 16:11] sniperegy commented on #9
17.110.244.84 this ip

[2015-04-01 16:17] badrsony commented on #9
use reverse proxy

[2015-04-01 16:19] Bilalqadeer commented on #9
Solution of icloud is just like
Finding water in desert

[2015-04-01 16:25] Bilalqadeer commented on #9
@badrsony reply

[2015-04-01 16:36] sniperegy commented on #9
Use fidller reverse proxy

[2015-04-01 16:36] badrsony commented on #9
no metasploit reverse proxy

[2015-04-01 16:37] badrsony commented on #9
and your metasploit  should be pro 64 bit

[2015-04-01 16:38] sniperegy commented on #9
ok
install kali frist

[2015-04-01 21:18] sniperegy commented on #9
very bad connection

[2015-04-01 23:03] ghost commented on #9
For people without metasploit pro?

[2015-04-01 23:08] badrsony commented on #9
only activation but icloud lock still on server if you restore or upgrade  version you will find icloud again

[2015-04-01 23:09] wvirk commented on #9
It's fine. That's all we need at least let these devices see some action

Sent from my iPhone

[2015-04-01 23:09] wvirk commented on #9
Can you guide us badr??

Sent from my iPhone

[2015-04-01 23:09] badrsony commented on #9
for this you need visual basic 2013 and net framwork 4

[2015-04-01 23:10] wvirk commented on #9
Already have them

Sent from my iPhone

[2015-04-01 23:10] badrsony commented on #9
the program will be uploaded to people that an compile it without asking a lot so easy

[2015-04-01 23:11] wvirk commented on #9
Ok. Where's the link bro. We ready

Sent from my iPhone

[2015-04-01 23:25] badrsony commented on #9
give me your mail

[2015-04-01 23:26] wvirk commented on #9
Waseem.virk@gmail.com

Sent from my iPhone

[2015-04-01 23:26] ghost commented on #9
im also a dev and can build it, if you feel like sending it: sammuel86@popcorntime.io

[2015-04-01 23:32] nashwanoz commented on #9
اهلين بدر منور
وانا كمان ببليز
t-3z@hotmail.com

[2015-04-01 23:35] badrsony commented on #9
at one condition  this file should not get out from your computer or apple will close all please

[2015-04-01 23:37] wvirk commented on #9
U got it brother.  Inshallah Allah it won't get out.

Sent from my iPhone

[2015-04-01 23:37] Faroukd0t commented on #9
ca c'est une bonne nouvelle ^^ je t'ai laissé un mail badr

[2015-04-01 23:39] neox09 commented on #9
@badrsony send me the files please bro. THANK YOU
eloriginaldjneox@hotmail.com

[2015-04-01 23:39] badrsony commented on #9
okay and you too
salut farouk  you too  just 5min and  check your mail

[2015-04-01 23:41] nashwanoz commented on #9
اوك ووعد كمان
بانتضارك

[2015-04-01 23:43] badrsony commented on #9
sent to all

[2015-04-01 23:44] Faroukd0t commented on #9
thanks bro ^^

[2015-04-01 23:45] slav4o commented on #9
@badrsony  this is my email seocalif@gmail.com please send it to me also
Tnx in advance

[2015-04-01 23:47] badrsony commented on #9
welcom

[2015-04-01 23:48] badrsony commented on #9
this is not the only ways apple has fail to secure icloud they will be always a solution for advanced people only sorry for that

[2015-04-01 23:48] neox09 commented on #9
@badrsony  thanks, I'm waiting for the mail ....

[2015-04-01 23:50] wvirk commented on #9
Thanks. Downloading visual studio again. Pro will work or I need ultimate?

Sent from my iPhone

[2015-04-01 23:50] badrsony commented on #9
any vb  will work file

[2015-04-01 23:52] badrsony commented on #9
please to all present here don't make a boom with this files or it will die like doulci

[2015-04-01 23:56] badrsony commented on #9
sorry i forgot  to all your  router ip should be changed to 192.168.1.186

[2015-04-02 00:08] def4lt commented on #9
def4lt69@gmail.com

[2015-04-02 00:32] Bilalqadeer commented on #9
bilalqadeer83@gmail.com send me also
thanks in advance

[2015-04-02 00:40] ghost commented on #9
Any success compiling from anyone else?

also you need this to compile: http://sourceforge.net/projects/itextsharp/

[2015-04-02 00:43] badrsony commented on #9
good job sammuel86 right until now

[2015-04-02 00:46] sammuel86 commented on #9
Getting alot of:
```The type or namespace name 'MaxUpgrade' does not exist in the namespace 'MaxUpgrade.MaxUpgrade' (are you missing an assembly reference?)	C:\git\LAST\MaxUpgrade\MaxUpgrade\Data\Payments.cs```

[2015-04-02 01:07] badrsony commented on #9
no program names here please be quiet

[2015-04-02 01:11] ghost commented on #9
okay sure -- check your mail

[2015-04-02 01:30] ghost commented on #9
Has @anyone managed to compile successfully?

[2015-04-02 01:32] sniperegy commented on #9
Sniper.basha@gmail.com ;)

[2015-04-02 01:37] sniperegy commented on #9
badr linux with metasploit  is full activation or not

[2015-04-02 01:44] HoudHoud commented on #9
@badrsony Hello badro how are you, we missed you a lot here also the scamer @ ttmtt  so please don't Forget me  with files deni.hadi@gmail.com

[2015-04-02 02:53] Bilalqadeer commented on #9
@badrsony check mail

[2015-04-02 03:01] Mika3l commented on #9
ok back from work ...... interesting ...... @badrsony send it to me mumunko@mail.ru thx

[2015-04-02 03:03] Mika3l commented on #9
pissed off ic chip change soldering desoldering ....... my eyes are tired ;)

[2015-04-02 03:18] sniperegy commented on #9
@Mika3l use broslin

[2015-04-02 03:20] Mika3l commented on #9
@sniperegy thx for advice i'll try ;)

[2015-04-02 03:58] syarwo commented on #9
@badrsony me please isyarwono@gmail.com

[2015-04-02 04:42] Faroukd0t commented on #9
I cant see the relation between the Maxupgrade and the bypass of iCloud activation... MaxUpgrade is an arabic solution for microtech user manager and for Installation, maintenance and development and programming of wired and wireless networks... nobody can compile this code source because a lot of errors while compiling...
here's the website of the creator and original owner : http://max-upgrade.b

[2015-04-02 06:38] ghost commented on #9
^ if i could like your post i would.

[2015-04-02 07:52] takki62 commented on #9
@badrsony  dear Bro also send it to me...   Regards

[2015-04-02 10:44] willgabriel commented on #9
@badrsony send to me williamgab@gmail.com

[2015-04-02 10:59] sniperegy commented on #9
Badr not share tool

[2015-04-02 17:05] sniperegy commented on #9
@badrsony kali installed and install meta pro now

[2015-04-02 18:01] sniperegy commented on #9
done
![screenshot from 2015-04-02 21 58 06](https://cloud.githubusercontent.com/assets/7996700/6970001/a7d6a2e8-d940-11e4-89b1-9cd55eb17981.png)

[2015-04-02 23:01] badrsony commented on #9
sniperegy your mail

[2015-04-02 23:04] sniperegy commented on #9
gr7ne@yahoo.com

[2015-04-02 23:06] badrsony commented on #9
i told to all first if i give the program to someone he should make it alone or asking for globale informations , it's  for advanced people sorry  for that i don't ask anything from anybody .

[2015-04-02 23:10] badrsony commented on #9
the program work it's not fake i don't have any interest lying

[2015-04-02 23:26] BladiMar commented on #9
salam bro,can i have it to? thanks in advance bro

[2015-04-02 23:42] BladiMar commented on #9
mawsalni walo khoya :(

[2015-04-02 23:43] sniperegy commented on #9
back

[2015-04-02 23:51] sniperegy commented on #9
Badr You Are Here  ?

[2015-04-03 03:49] RabbitRevenge commented on #9
I will give a try. Please bro revengetherabbit@gmail.com

[2015-04-03 05:23] DuckiDuck commented on #9
@badrsony this is my email cum3tras@gmail.com please send it to me also. TNX! IN ADVANCE BRO

[2015-04-03 09:22] Bilalqadeer commented on #9
@badrsony you have an email see inbox

[2015-04-03 10:36] badrsony commented on #9
If somone could find the real iCloud  ipaddress I will give him 10 gredits : it mean 10 unlocked devices

[2015-04-03 10:38] Faroukd0t commented on #9
@badrsony si tu peux m'expliquer un peu le rôle du logiciel par rapport au bypass ce serait bien, parce que la compilation comporte trop d'erreurs et ca va demander beaucoup d'effort juste pour le compiler et je ne sais pas ce que serait l'étape suivante.

[2015-04-03 10:43] DuckiDuck commented on #9
@badrsony You can also send me the program?

[2015-04-03 10:56] badrsony commented on #9
Khouya Farouk fait in effort rah khadm trop a explique 3mois de travail Ana ghadi massif ate lik in link ye3awnak bach tafham

[2015-04-03 10:58] Faroukd0t commented on #9
Ok ca marche a khay Badr, merci bien :)

[2015-04-03 10:58] badrsony commented on #9
DuckiDuck okay this night I'm not at home now

[2015-04-03 10:59] DuckiDuck commented on #9
Tnx! bro

[2015-04-03 11:43] megarock commented on #9
@badrsony send to me please  khdoud.hicham@gmail.com  TNX!

[2015-04-03 13:36] madou987 commented on #9
@badrsony send to me please madou987@voila.fr

[2015-04-03 13:47] sniperegy commented on #9
icloud have 8 ip adress

[2015-04-03 16:22] badrsony commented on #9
Sniperegy all are not real there is only one real find it and you are a king

[2015-04-03 16:24] sniperegy commented on #9
ok badr

[2015-04-03 16:24] sniperegy commented on #9
all tools in meta pro ??

[2015-04-03 17:28] BladiMar commented on #9
Any news guys?Badr bro,waiting for your email :(

[2015-04-03 23:57] BladiMar commented on #9
@Faroukd0t khoya chi ichara 3afaak,khona badr machgool yamken,kifach nakhdam behadak chi li 3tah lina alah yerham elwalideen

[2015-04-04 00:04] sniperegy commented on #9
بلادمير بدر لم يرسل الاداه لأي شخص حتي الان
وعندما يرسلها فسترسل للجميع

[2015-04-04 00:10] BladiMar commented on #9
@sniperegy i know , he send a hint not a tool (without a explanation ) , too busy i think .

[2015-04-04 03:22] SoolMed commented on #9
icloud.com resolves to 17.172.192.55
icloud.com dig
A "17.172.208.84"
A "17.158.28.83"
A "17.158.10.94"
A "17.172.192.55"
A "17.167.150.81"
A "17.110.244.84"
A "17.142.164.49"
A "17.110.246.84"
MX {"exchange":"mx3.mail.icloud.com","priority":10}
MX {"exchange":"mx2.mail.icloud.com","priority":10}
MX {"exchange":"mx1.mail.icloud.com","priority":10}
MX {"exchange":"mx6.mail.icloud.com","priority":10

[2015-04-04 05:27] sniperegy commented on #9
1730 ip adress
http://www.pastebin.ca/2968390

[2015-04-04 14:08] SoolMed commented on #9
How to get ECID on  in the activation process ?!

[2015-04-04 18:38] badrsony commented on #9
Khouya Ana lyouma inchaalh nfidkom chwicha

[2015-04-04 18:39] badrsony commented on #9
Ghir nadkhol ladar

[2015-04-04 19:40] badrsony commented on #9
i'm here for any question ?????????

[2015-04-04 19:48] sniperegy commented on #9
2 days no sleep

[2015-04-04 19:53] badrsony commented on #9
okay

[2015-04-04 20:16] willgabriel commented on #9
work with windows or linux? visual?

[2015-04-04 20:22] badrsony commented on #9
there is four real ways to bypass icloud

[2015-04-04 20:24] willgabriel commented on #9
hmmm help me bro, send me the real bypass

[2015-04-04 20:27] badrsony commented on #9
i will never putt here a full solution just hints and i will help who can go well after all this mouths and years of research we will be careful

[2015-04-04 20:28] willgabriel commented on #9
Good job bro

[2015-04-04 20:30] badrsony commented on #9
no donations no paypal  all informations must be  discreet and free

[2015-04-04 20:59] badrsony commented on #9
no one can get icloud ipaddress ?????????

[2015-04-04 21:01] sniperegy commented on #9
I try

[2015-04-04 23:37] Nad4 commented on #9
hey @all i miss something i was out for a month , hey badrsony came back? great

[2015-04-04 23:51] Nad4 commented on #9
please send me too i am going start your wise tips :) cinecomplex@gmail.com

[2015-04-05 10:24] lblxh3 commented on #9
thanks
a looooong time

[2015-04-05 10:49] R0of commented on #9
@badrsony Real and One way to bypass : http://gsm-markaz.uz/viewtopic.php?f=65&t=400&p=731#p731

[2015-04-05 11:03] badrsony commented on #9
R0of only serious people here !!!!!!!!!!!!!!!!!
or i will closing this discussion

[2015-04-05 11:23] badrsony commented on #9
http://xmachine.freeforums.net

[2015-04-05 12:50] megarock commented on #9
@badrsony please send me too

[2015-04-06 04:29] Mika3l commented on #9
send me to compile ;)

[2015-04-06 06:05] R0of commented on #9
@badrsony Close discus! You are not seriously man! bypass icloud is illegal
# it is illegall!

[2015-04-06 10:20] Bilalqadeer commented on #9
@badrsony Check inbox

[2015-04-06 11:39] megarock commented on #9
@badrsony  khay badr chouf had l'adress     2.19.141.15

http://whois.domaintools.com/apple.com

[2015-04-06 12:10] takki62 commented on #9
@badrsony  http://www.dnsinspect.com/icloud.com  u can find all info about domain .

tokens generated from private ip address.

[2015-04-06 12:11] takki62 commented on #9
17.110.246.84 resolve ip address

[2015-04-06 12:12] takki62 commented on #9
@badrsony  17.110.246.84 resolve ip address

[2015-04-06 12:13] takki62 commented on #9
@badrsony  if you mean albert ip that is 17.171.27.65

[2015-04-07 07:38] R0of commented on #9
# проще изобретать вечный двигатель

[2015-04-10 19:35] Faroukd0t commented on #9
Any news guys ?

[2015-04-11 00:58] killerappz commented on #9
also me jabasta@aol.com

[2015-04-24 15:05] Faroukd0t commented on #9
@badrsony where are you ?

[2015-04-26 09:57] R0of commented on #9
Worldgsmforum.com - Masters Guide!

[2015-05-03 14:15] kbulzo commented on #9
hey guys

[2015-05-03 21:04] Faroukd0t commented on #9
Hey what's up

[2015-05-03 22:45] kbulzo commented on #9
@TTMTT  appeared on twitter

[2015-05-03 23:04] Faroukd0t commented on #9
LoL... and he will give to everybody a new hope with a new lie about bypass

[2015-05-03 23:09] kbulzo commented on #9
lol

[2015-05-04 13:33] dedibima commented on #9
Anyone tried wifi sniffing (wireshark etc) method to get the ip address?

[2015-05-04 13:35] dedibima commented on #9
@badrsony can you send me the file and give me a try?
dedibima69@gmail.com

[2015-05-08 23:27] Nad4 commented on #9
any one knows something about this?  Maroc-OS say something about exploit via USB in ios 7.1.x

 "Make sure you have USB redirector installed and port 32032 opened and dmz configured for local pc"

[2015-05-09 00:54] SoolMed commented on #9
It's just to connect to your iDevice remotely [ (His Sid) His Server <-> His Soft "ITunes mybee other" <-> USB Redirector Server <-> (your side) USB Redirector Client <-> Your iDevice ]

[2015-05-11 21:43] Nad4 commented on #9
i am working on this Icloud custom IPSW icloud bypass http://idevice.me.uk/topic/1-icloud-bypass-news/page-3#entry2398

and here http://myicloud.info/custom-8-1-1-merged-with-8-3-ipsw-delete-setup-app/

[2015-05-13 12:56] Faroukd0t commented on #9
it seems to be a good idea... good luck @Nad4

[2015-05-22 00:38] ghozila commented on #9
send me what @badrsony send please....maybe i get new method

[2015-05-23 10:01] alkoholit commented on #9
@badrsony  can you please send it to me too @ alkoholit666@gmail.com tnx

[2015-05-23 10:08] ictbalie commented on #9
@all theres only one guy that really managed to bypass icloud ( ios7 ) and thats Merruk. Saw it with my own eyes.

All the rest are just scammers, big ego's and amators

[2015-05-23 14:06] wvirk commented on #9
We know that many are amateurs not all are scammers. Some have tried and came so close. I will admit Merruk work when I see it available for free as a public free icloud removal just like a jailbreak. To me jailbreak is a far harder work. They know it will be patched but they make it available nonetheless. But when it comes to icloud no one wants to publish it. Because frankly no one has been able

[2015-05-23 14:37] ghozila commented on #9
any know about metasploit cause badrsony says use it...

[2015-05-23 16:52] alkoholit commented on #9
@badrsony  i think i foud the icloud ip write to me @ alkoholit666@gmail.com

[2015-05-23 20:56] ghozila commented on #9
@alkoholit, so next waht?? are you know how to use that

[2015-05-23 21:24] ghozila commented on #9
any know how to exploit using metasploit on windows 7 in here..............

[2015-05-24 07:16] alkoholit commented on #9
metasploit is just to find the ip of the cloud but, I dont know what to do next since I dont have the files from badrsony :D

[2015-05-24 11:27] sniperegy commented on #9
get real ip frist

[2015-05-24 14:42] rawon-tuyul commented on #9
hellooo all r u success?

[2015-05-24 17:46] alkoholit commented on #9
@sniperegy  so when i have it then what ?

[2015-05-25 02:49] ghozila commented on #9
you all know he's leave the clue, 192.168.1.186...check this ip

[2015-05-25 02:56] ghozila commented on #9
you'll not find anything....17.142.164.49 and try this

[2015-05-25 02:58] ghozila commented on #9
if i'm ping icloud i got this ip   [17.110.246.84]

[2015-05-25 22:26] Nad4 commented on #9
U need to add the both lines
107.180.20.216 http://albert.apple.com
107.180.20.216 http://support.apple.com  in your host files

bypass 7.1.1 only or less minacris

[2015-05-25 22:27] ictbalie commented on #9
@Minacriss is bypassing icloud locked ios <=7.1.1 for free. Get your ticket instead of solving crypto riddles here by the riddler.

[2015-05-26 18:21] ghozila commented on #9
i try using metasploit with armitage.....i think it is imposssible to get the server

[2015-05-26 18:31] ghozila commented on #9
@Nad4 and next what???

[2015-05-26 21:37] Nad4 commented on #9
check http://myicloud.info/bypass-icloud-ios-7-1-2/

[2015-05-26 21:38] Nad4 commented on #9
anyone here is good with python ? i need show something

[2015-05-26 21:53] ghozila commented on #9
@nad4, i am also check that web....but nothing new....and that's news i was look about 1 week ago

[2015-05-26 21:57] ghozila commented on #9
jsc

[2015-05-27 00:42] ghozila commented on #9
any have zip password cracked...

[2015-06-01 21:39] kbulzo commented on #9
still people in need of removal solution or hehehe bypass ????

[2015-06-01 21:40] wvirk commented on #9
Yup. Everyone still needs it.

Sent from my iPhone

[2015-06-01 21:43] kbulzo commented on #9
thanks to video @floid123 and after much struggle to achieve success in ios 7

[2015-06-01 22:57] Nad4 commented on #9
@kbulzo so help us man !

[2015-06-02 18:25] ghozila commented on #9
@badrsony where are youuuuu????

[2015-06-03 18:44] ghost commented on #9
@kbulzo come and help us pls

[2015-06-04 17:56] ghozila commented on #9
@ sniperegy i have the real ip addres and what the next, comon help me
bro..thnks

2015-06-04 1:44 GMT+07:00 def4lt notifications@github.com:

[2015-06-05 01:14] Redarkgg commented on #9
Hey @Faroukd0t how are you my fríend nothing New ?

[2015-06-17 06:20] Sum1n commented on #9
look this video
 https://www.youtube.com/watch?v=IU8h4noicN4

[2015-06-17 06:22] Sum1n commented on #9
https://www.youtube.com/watch?v=d9-t-L8rCTQ

[2015-06-17 10:13] Sum1n commented on #9
https://www.youtube.com/watch?v=l-uuRVxoq98

[2015-06-17 13:54] willgabriel commented on #9
ok, good job share your method please and the codes.

[2015-06-19 23:58] ghozila commented on #9
wanna share or not?????

2015-06-17 20:54 GMT+07:00 William notifications@github.com:

[2015-06-24 10:49] jxosdev commented on #9
did anyone succeed ?
Hey, @badrsony please share the files at jxosdev@gmail.com. thanks a lot bro.

[2015-07-01 11:35] jxosdev commented on #9
@Sum1n hey bro, please share your method!

[2015-07-05 04:45] SoolMed commented on #9
![icloud](https://cloud.githubusercontent.com/assets/9610466/8510414/900f1a8a-22d0-11e5-8e6c-624ae3ff5398.png)
one step tp icloud bypass Stuck Fairplaysignature

[2015-07-06 01:14] HoudHoud commented on #9
hello @SoolMed
please share your method deni.hadi@gmail.com
thanks

[2015-07-06 01:19] HoudHoud commented on #9
it seems that smolk have found a bypass to ios 8.x
https://www.youtube.com/watch?v=IT0bqD3WJ4U&feature=youtu.be&a
hope he will release soon

[2015-07-06 07:03] jxosdev commented on #9
Hello @SoolMed
Please share your method Sir. jxosdev@gmail.com
Thanks a lot

[2015-08-12 06:56] Yafi3i commented on #9
Whoever has KALI installed post your skype, the only way to bypass icloud is by putting a team together and work...

Please only post your skype if you have some experience witg KALI or certificates

[2015-09-14 22:53] Nad4 commented on #9
jailbreak ios9 http://idevicetool.eu/jailbreak-ios9-possible/

[2015-11-01 20:56] rawon-tuyul commented on #9
hello all why not use hacking method?  ...

[2015-11-01 21:09] rawon-tuyul commented on #9
if u interest with my method... send  screenshot activation + imei + udid to loststolenland@gmail.com,. .. this hacking method is not 100%, i will do randomly,

[2015-11-02 18:26] zednjey commented on #9
@rawon-tuyul any charges ?

[2015-11-27 17:28] jerrybelindacon commented on #9
Hi guys please send me the info @
Jerryconnelly5@gmail.com thanks

[2015-11-29 17:06] Nad4 commented on #9
cool captive portal DNS method looks great this project
more info http://myicloud.info
![captive dns portal iphone](https://cloud.githubusercontent.com/assets/9027738/11458611/6ee9155e-96bb-11e5-8340-bf53a205b33b.png)

[2015-12-14 13:42] JAckSpar0w commented on #9
Hello every one Big news coming soon #iFakID #iCl0ud7x
![ifakidl](https://cloud.githubusercontent.com/assets/9907760/11782347/6d647af8-a268-11e5-9919-4081fe16f6f6.png)

[2015-12-15 18:00] Nad4 commented on #9
hello all here is a solution to remove icloud id from activated works 100% its also very easy
tks to @idevicetool

https://www.youtube.com/watch?v=4h6PSK0gNuI

[2016-01-26 22:50] ghozila commented on #9
every one can help me wiyh this php code????

<?php
include ('Crypt/RSA.php');
include ('File/X509.php');

// Load the CA and its private key.
$pemcakey = file_get_contents ( 'certs/AppleRootCA.key' );
$cakey = new Crypt_RSA ( );
$cakey->loadKey ( $pemcakey );
$pemca = file_get_contents ( 'certs/AppleRootCA.pem' );
$ca = new File_X509 ( );
$ca->loadX509 ( $pemca );
$ca->setPrivateKey ( $cakey );

[2016-01-26 22:51] ghozila commented on #9
this error on first line..i dont have x509.php and RSA.php so how to make this....help please

[2016-01-27 22:21] JAckSpar0w commented on #9
Here's all files you need you have to copy the PHP_Sec_Lib content to your include folder (depend  on server you use if xampp "SERVER_Root/lib/php/ "

https://github.com/JesPratt/Doulci

that's not the point without apple cert you can't do much even with this hope you good luck

[2016-01-28 10:11] ghozila commented on #9
jack@ are u try this code? Did u manage this code

[2016-03-01 14:32] JAckSpar0w commented on #9
Only one file needed to a full all iOS icloud bypass "iPhoneActivation_private" for the real cert

[2016-08-09 04:11] Sum1n commented on #9
restore idevice on kali linux using libmobiledevice
https://www.youtube.com/watch?v=qRin2ggBGjw

[2019-04-16 08:12] arafsabbit commented on #2
IPhone 6 icloud lock unlock hlp